[2019-11-02 10:08] leaanthony commented on #278
Please let me know if v0.18.15-pre fixes this. `wails update -pre`. Thanks!

[2019-11-02 10:09] leaanthony commented on #259
Hey @scshin0572 - could you please let me know if your patch works against the current develop branch? Thanks.

[2019-11-02 14:05] scshin0572 commented on #259
v0.18.15-pre: an error occurred.

the latest patch files did not apply to the v0.18.15-pre version.

This is a comparison of the two versions(the latest code and v0.18.15-pre).

webview.h(left: the latest, right: v0.18.15-pre)
1.
<img width="1101" alt="2019-11-02-webview-h-1" src="https://user-images.githubusercontent.com/38400424/68072013-2eacba80-fdc4-11e9-83ff-75d58ebd009d.png">

2.
<img width=

[2019-11-03 00:13] FriendlyUser commented on #278
Didn't fix it for now

[2019-11-03 01:01] lukasvosyka opened #284 "None of the templates are working on Windows"
**Description**

I really like the idea behind Wails. I was working with Electron till now, but I couldn't get the Get Started running. Building and compiling works fine, but when I start the .exe it shows me "An erro has occured in the script on this page", Line: 1, Char: 1, Error: Expected identifier, Code: 0..

**To Reproduce**
Steps to reproduce the behaviour:
- Install wails
- wails init
- wa

[2019-11-03 20:13] leaanthony commented on #278
Are you using Windows 7 or 10? It's working fine for me on Windows 10.

On Sun, 3 Nov 2019, 11:13 David Li, <notifications@github.com> wrote:

[2019-11-03 20:15] leaanthony commented on #284
Hi. We have another ticket open for this. Windows 7,8 or 10?

On Sun, 3 Nov 2019, 12:01 Lukas Vosyka, <notifications@github.com> wrote:

[2019-11-03 21:25] psidex commented on #278
Tested on Win 10, `wails serve` is running fine for me.

[2019-11-03 22:04] FriendlyUser commented on #278
@leaanthony wails serve has always worked for me, wails build is still failing for me.

[2019-11-04 01:57] lukasvosyka commented on #284
Hi Lea, sorry I didn’t know that. I am using Windows 10

[2019-11-04 03:31] leaanthony commented on #284
My advice would be to use the latest stable version: `wails update -version v0.18.5`. I've just issued a `go get github.com/wailsapp/wails/cmd/wails` and got a pre-release version, which is not what I was expecting as per [this page](https://golang.org/cmd/go/#hdr-Add_dependencies_to_current_module_and_install_them). I will need to investigate why pre-release versions are being pulled ahead of sta

[2019-11-04 04:31] leaanthony commented on #284
Hi. Please run `wails update -pre` to get `v0.19.0-pre2`. Let me know if this fixes your issue. Thanks

[2019-11-04 04:32] leaanthony commented on #278
Hi. Please run `wails update -pre` to get `v0.19.0-pre2`. Let me know if this fixes your issue. Thanks

[2019-11-04 04:32] leaanthony commented on #284
Closing as it is a duplicate of #278. Please post feedback on that ticket please 👍

[2019-11-04 04:32] #284 closed

[2019-11-04 05:11] FriendlyUser commented on #278
Still failed for me

On Wails v0.19.0-pre2 - Building Application
![image](https://user-images.githubusercontent.com/13860264/68100751-8576ca80-fe7e-11e9-8375-ba3f16149686.png)

[2019-11-04 17:55] grvlle commented on #256
I have the same problem on Ubuntu 18.04 using Vue. This started occurring after the 0.18 update. Building and running it using GTK works fine. Chrome reports the same as stated by OP. FF reports "TypeError: window.wails is undefined"

[2019-11-04 21:25] lukasvosyka commented on #278
Hi Lea,

for me wails 0.190-pre2 now works also with the built .exe on Windows 10. But I had to recreate (wails init) a new project. After that it seems to work. Thanks!

[2019-11-04 22:14] leaanthony commented on #256
Please try v0.19.0-pre2 and let me know. It assumes you will generate a new
project or update your version in go.mod

On Tue, 5 Nov 2019, 04:55 grvlle, <notifications@github.com> wrote:

[2019-11-04 22:15] leaanthony commented on #278
Awesome. Due to dependency versioning, you will need to either update
go.mod or regenerate.

On Tue, 5 Nov 2019, 08:25 Lukas Vosyka, <notifications@github.com> wrote:

[2019-11-04 22:21] grvlle commented on #256
Yeah, that did it for me. Thanks @leaanthony !

[2019-11-05 02:42] FriendlyUser commented on #278
Worked for me when I reinit the wails project.

[2019-11-05 03:39] leaanthony commented on #279
Closing due to inactivity.

[2019-11-05 03:39] #279 closed

[2019-11-05 10:42] grvlle opened #286 "JSON imports for Vuex does not re-import upon restart of application."
**Description**

I've imported a json file in my Vuex Store, this used to re-import the contents for each time I started the application. Now I need to re-compile (wails build) for it to re-import the contents.

**To Reproduce**
Steps to reproduce the behaviour:
1. Import a .json file containing a few objects (import JSONFile ../file.json)
2. Assing the variable to a vuex store (store {file: JSONF

[2019-11-05 19:33] leaanthony commented on #286
Hi. All external files *should* be statically compiled in by default. If it
did not do that previously, then it was a bug. If you want dynamic loading,
you will need to use file I/O from the backend, as per the Todo example on
the documentation site.

Hope that helps.

On Tue, 5 Nov 2019, 21:42 grvlle, <notifications@github.com> wrote:

[2019-11-05 19:35] #286 closed

[2019-11-05 19:36] #278 closed

[2019-11-05 19:39] leaanthony commented on #259
I had to take out the Unicode updates for the 0.19 release. I'll look at reapplying them for the next release. What I would like to understand is if the Go updates were necessary (encoding detection), or were the webview updates sufficient? I couldn't get it working either way so a PR would be ideal.

[2019-11-05 19:40] #256 closed

[2019-11-05 19:41] leaanthony commented on #159
Closed due to inactivity

[2019-11-05 19:41] #159 closed

[2019-11-07 05:46] leaanthony commented on #208
Pretty much done.

[2019-11-07 05:46] #208 closed

[2019-11-07 16:17] khyoz commented on #274
cool, thanks !

[2019-11-07 22:40] maximousblk commented on #279
Sorry I was away and am going to be for a while

[2019-11-08 04:17] khyoz commented on #256
seems ok, thanks !

[2019-11-11 15:38] ljjimenez opened #287 "Vuetify 2.1.0"
**Description**

Upgrade to Vuetify 2.1.0, is it possible?

I would like to migrate a web app to desktop, but using Vuetify 2.1.0.

[2019-11-12 10:28] bh90210 commented on #287
hi @ljjimenez
I am sure it is possible! I am looking into vuetify and seems there are many ways to approach it.
from the point of view of Wails though, what u need to do 3 things:
1. Make sure you load all images, fints like this https://github.com/wailsapp/wails/blob/daeda501f448cb3896f07d1716c7c7daf662c2ef/cmd/templates/vuetify-basic/frontend/vue.config.js#L13
2. make sure to only produce one `.

[2019-11-12 10:45] bh90210 commented on #263
actually 19.10 is not officially supported yet (from either wails or it seems node?). I personally haven't checked. I only have checked up to 19.04 (I am running on 19.04..)

my rational for not making generic in the first place was that for example `deb` package on debian is kind of old, being generic left the opportunity to the user to just `apt-get install npm`. So I opted to copy paste the off

[2019-11-12 15:54] bh90210 commented on #282
I have spent sometime thinking about it and my thoughts on it are that trying to support as many linux distributions as possible with double documentation (with/without webkit) would turn out more confusing to both users and maintainers. My assumption is that most people will use wails to produce desktop apps. Though I too see the merit of using wails as framework for web apps my take would be tha

[2019-11-12 21:34] leaanthony commented on #282
Yeah, for it to work, it has to be "seamless", which means you have to use
the "lowest common denominator". Example: authentication. Whatever
mechanism you use, it has to work on desktop as well as server. As that's
usually handled by middleware, what does that mean for desktop apps?
Likelihood is the need for extra "hooks". Desktop apps by their nature are
single user, but web apps multi-user. We

[2019-11-12 21:36] leaanthony commented on #287
Hi. We had a [ticket](https://github.com/wailsapp/wails/issues/226) for this that went stale. I don't think Michael responded for quite a while so it went stale. If you are able to pick this up and make a PR, we will look at it :+1:

[2019-11-16 20:41] furkangkhsn opened #288 "Is tailwind not supported?"
I have a vue+vuetify app with tailwind css. I use vuetify for some components and tailwind for the rest. But with wails, tailwind not working. Should i do something else? or not use it? Everything is working except tailwind.

[2019-11-16 20:57] leaanthony commented on #288
Hi. I've never used tailwind. According to the docs it should work, but
note that if you're on windows you won't be able to some things:
https://tailwindcss.com/docs/browser-support

On Sun, 17 Nov 2019, 07:41 Furkan Gökhasan, <notifications@github.com>
wrote:

[2019-11-17 04:12] leaanthony commented on #282
Did you have any more thoughts on this @mewmew?

[2019-11-17 10:31] furkangkhsn commented on #288
Ok i found it. package.json file generated by wails includes postcss section which overwrites the postcss file.

[2019-11-17 10:31] #288 closed

[2019-11-17 16:55] mewmew commented on #282
I think you've covered most aspects. If time is limited with development, the indeed focus on the core aspects rather than this.

Are there any other dependencies of Wails than gtk-webkit that require Cgo? If not, than that would be one motivating aspect to allow building wails without requiring gtk-webkit, but as mentioned, only do this once the more important issues are taken care of.

Cheers,
R

[2019-11-17 17:19] furkangkhsn opened #289 "Error on `wails init`"
[2019-11-17T17_11_10_741Z-debug.log](https://github.com/wailsapp/wails/files/3855867/2019-11-17T17_11_10_741Z-debug.log)
I got an error message while trying to initialize a new vue project. I attached the error log.

[2019-11-17 20:05] leaanthony commented on #289
Please file the issue using `wails issue`. Thank you.

[2019-11-17 20:05] #289 closed

[2019-11-17 20:07] leaanthony commented on #282
I'm going to get v1 over the line, take stock of where we are at and start prioritising work for v2. As I said earlier, this is one of the main things I want to achieve. Will close for now but be assured we will look at it 👍

[2019-11-17 20:07] #282 closed

[2019-11-17 20:22] furkangkhsn commented on #289
I think if you make the npm process during initialization on the terminal, it will be much more satisfying. Right now, it feels like it is stuck at building project.

[2019-11-18 19:04] furkangkhsn opened #290 "Script Error after 'wails build'"
**Description**

I use vue, vuetify, vuex, vue router, tailwindcss, apollo graphql client. It works using `wails serve` but after build operation, it throws an 'Script Error'. No more info about the error.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'project folder'
2. Run 'wails build'
3. After successfully built, run the generated exe.
4. See error

**Screenshots**
![image](http

[2019-11-18 19:59] furkangkhsn commented on #290
I tried with the Wails v0.19.0-pre2. Same error.

[2019-11-20 10:45] SmauelL opened #291 "How do you build Windows applications on MacOS?"
I want to cross-compile!

[2019-11-20 11:53] leaanthony commented on #291
Not supported right now. But if you manage it, please open a PR!

On Wed, 20 Nov 2019, 21:45 SmauelL, <notifications@github.com> wrote:

[2019-11-20 11:54] #291 closed

[2019-11-21 07:30] Lyimmi commented on #287
One of my projects is made with vuetify 2.x, but it does not work on windows (MSHTML/Webview isse). I have a few ideas how to make it work, but didn't have any motivation to do so.

I can make a PR, based on that project, if needed.
In the ticket that @leaanthony mentioned there are two alternatives, I would go with the second one to make two separate Vuetify templates.

But if you guys think it's

[2019-11-21 10:23] bh90210 commented on #287
hey @Lyimmi amazing! A new Vue 2.x template sounds fine.

Let's ask @MichaelHipp (https://github.com/MichaelHipp/wails/tree/vuetify2-support) if he has made any progress, to possible avoid double coding the same thing..

[2019-11-21 10:51] leaanthony commented on #287
A PR would be awesome! I'd go for just updating the current template if
everyone is upgrading. But if it's kinda like Python then maybe a new
template?

On Thu, 21 Nov 2019, 18:30 Zámbó, Levente, <notifications@github.com> wrote:

[2019-11-21 12:58] MichaelHipp commented on #287
I haven't looked at it since 10/2 when I was told we were going into a feature freeze for v1.0. I still have it and doubt 2.1 would be much different than 2.0.

[2019-11-21 23:19] fbrinker opened #292 "Usage of file:// Urls"
Hello,

I'm trying to show image thumbnails of files in a selected directory, but embedding the image via `file://path` does throw the following error:
[code]

So the browser disallows that access due to security reasons. Is it possible to disable that security policy, like in Electron?
* See https://stackoverflow.com/questions/58385872/not-allowed-to-load-local-resource-with-file-image-url-in-ele

[2019-11-22 05:15] bh90210 commented on #292
hi @fbrinker I am not aware of a way to turn security off, maybe @leaanthony can weight in on this. If there is a way that'd be amazing though.

when I was confronted with a similar issue, I needed a simple drag'n'drop, I indeed []byte (base64) everything and send it to back. https://github.com/bh90210/wails-tutorial/blob/master/client/frontend/src/components/Drop.js#L42

maybe there should be a p

[2019-11-23 19:35] leaanthony commented on #292
Yeah, it would be good if this was part of the runtime. I'll add it to the list.

[2019-11-23 19:37] leaanthony commented on #287
Hey @MichaelHipp. Looking through the comments on the ticket, it looked like you were still working on it. Is the PR good?

[2019-11-23 19:41] leaanthony commented on #290
Yes, Windows Webview is buggy to say the least. Naturally, we can't change what MSHTML supports so there's little we can do for you other than suggest even more polyfills. I made a console for Windows as it doesn't have one. I may push that today if it helps. Other than that, there's not much we can do.

[2019-11-24 05:44] JackMordaunt opened #293 "Enable HiDPI on Windows (looks blurry)"
**Description**

Blurry window for high resolutions, eg 4k.
I searched around in case this was already addressed and couldn't find anything.

**To Reproduce**

1. High DPI screen + Windows.
2. Build and Run the demo.

**Expected behaviour**

Should not be blurry.

**Screenshots**

<img width="598" alt="wails-blurry" src="https://user-images.githubusercontent.com/6916093/69490274-03f8e200-0eea-11ea

[2019-11-24 11:57] yirenyishi opened #294 "how to use vue-router and How to jump to the page"
how to use vue-router and How to jump to the page

[2019-11-24 18:42] leaanthony commented on #294
Hi. This has been covered before [here](https://github.com/wailsapp/wails/issues/236) and [here](https://github.com/wailsapp/wails/issues/150). Feel free to create a PR for the docs on how to use it.

[2019-11-24 18:42] #294 closed

[2019-11-24 18:55] leaanthony commented on #293
Hey @JackMordaunt. Firstly, thanks for the icns library 👍
Regarding HiDPI, this has been pretty tricky. The guide I used is [here](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/mt846517(v%3Dvs.85)) and the manifest file that gets used is [here](https://github.com/wailsapp/wails/blob/develop/cmd/packages/windows/wails.exe.manifest).
If you make a copy of the manifest and

[2019-11-24 18:57] leaanthony commented on #292
If it does not need to be dynamic, then it should just be webpacked in the bundle.

[2019-11-24 22:48] JackMordaunt commented on #293
Yes, I was afraid of needing to directly mess with manifest files!

After viewing the docs, I tried the api method and it works great on a single monitor setup.

[code]

If I understood correctly, the reason this method is *not* recommended is because it doesn't handle *changes* in DPI: if you have multiple monitors with different resolutions, Windows will use "bitmap scaling" which produces a blu

[2019-11-25 09:30] fbrinker commented on #292
Absolutely!

But in my case I am trying to write something like an local Image Browser. Right now I'm scanning a source directory for images, create their thumbnails and save the base64 blob into a temporary database to load them into the UI afterwards.

Works so far but seems to be far slower / resource hungry when loading the page than using file urls would be and is some sort of workaround.

Lo

[2019-11-25 10:16] leaanthony commented on #292
What platform is this for?

On Mon, 25 Nov 2019, 20:30 Florian Brinker, <notifications@github.com>
wrote:

[2019-11-25 11:37] fbrinker commented on #292
Currently I'm planning Linux and Windows, but OSX would be nice too (but it should be similar to Linux, because its using Webkit too?). My plan is to create a cross-platform application to import and organize images "semi-automatically"

[2019-11-25 12:00] furkangkhsn opened #295 "'Undefined "wails"' Error when using with vue-router"
**Description**

After adding router to the project, the builded executable not working. The Error says 'Undefined "wails"'.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run 'wails init'
2. Select 'vue/webpack template'
3. Run 'cd project_folder/frontend'
4. Run 'vue add router'
5. Select 'no history mode'
5. Run 'cd ..'
6. Build project with 'wails build'
7. Run the executable

**Expect

[2019-11-25 12:13] furkangkhsn commented on #295
Edit: It seems to work If you use "abstract" as the routing mode.

[2019-11-26 07:01] leaanthony commented on #295
Hi! Thanks for investigating this. There are a number of people who will
benefit from this.

On Mon, 25 Nov 2019, 23:13 Furkan Gökhasan, <notifications@github.com>
wrote:

[2019-11-26 07:02] leaanthony commented on #292
That's a cool sounding project. I've found a workaround for Linux but not
tested it yet. It mah need to wait until v1 is out mind.

On Mon, 25 Nov 2019, 22:37 Florian Brinker, <notifications@github.com>
wrote:

[2019-11-26 08:58] furkangkhsn opened #296 ""SecurityError" When Trying to Use with WebSockets"
**Description**

I try to use Apollo Graphql with wails. But after build, it gives SecurityError. It works on ie11 and Edge. Windows restrict socket connections to 8 per host. But I edited the registery and still throws SecurityError.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run 'wails init'
2. Select 'vue/webpack template'
3. Install Apollo GraphQL extension for vue.
4. Install nece

[2019-11-26 10:37] fbrinker commented on #292
There's no rush Thanks for already looking into this. :)

I'm fine with my solution right now, even if it's an overhead with the base64 data. Nevertheless, it would be a nice optimization at the end, but it's no showstopper

[2019-11-26 20:55] leaanthony commented on #296
Hi! Thanks for your persistence with the Windows builds. It is by far the
weakest in terms of what mshtml supports. I've spent some time creating a
global error handler which I'm hoping will report errors better as well as
a console I've hacked together. I'll look at getting a prerelease out with
those 2 additions in the hope that'll help you further debug the issue.
Thanks again for your support

[2019-11-26 20:57] leaanthony commented on #292
OK cool. All I did was do a Google search on Gtk WebKit local file URLs and
found a SO post showing how to enable the feature. If you get time, a
similar search for the windows and Mac equivalents would be good 😃

On Tue, 26 Nov 2019, 21:37 Florian Brinker, <notifications@github.com>
wrote:

[2019-11-27 10:07] leaanthony commented on #294
Hi. Does [this answer](https://github.com/wailsapp/wails/issues/295#issuecomment-558128731) fix it for you?

[2019-11-27 10:08] leaanthony commented on #150
@sotoup Does [this](https://github.com/wailsapp/wails/issues/295#issuecomment-558128731) make it work?

[2019-11-27 10:10] leaanthony commented on #293
Hi @JackMordaunt - absolutely! I would love to know how this affects other setups mind.

[2019-11-27 12:01] leaanthony commented on #293
I've added in the change to the latest pre-release. Grab it with `wails update -pre`.
It looks great on my system! Thanks for spending time on this! Added you to the contributor list 👍

[2019-11-27 12:02] leaanthony commented on #146
Fixed in v0.20.0-pre1!

[2019-11-27 12:02] #146 closed

[2019-11-27 12:06] leaanthony commented on #296
Hi @furkangkhsn - I've added the console to the latest build. It may or may not help you as it is really basic. If you update to v0.20.0-pre1 using `wails update -pre` you can activate the console using shift-ESC on any debug build.

[2019-11-27 12:06] #295 closed

[2019-11-27 12:07] leaanthony commented on #295
We are desperate for a quick tutorial on vue/vue-router/vuex, so if you find the time for a short tutorial, we would love to add that to the docs.

[2019-11-27 12:09] leaanthony commented on #290
Hi. Please see my other comment on the windows console. This may help you debug your application errors. Just to be clear, this isn't an issue with Wails, but js compatibility problem. Hopefully the console will give you more insight.

[2019-11-27 12:21] leaanthony commented on #296
I've just tested the instructions [here](https://deskgap.com/devtools/) and they allow remote debugging on Windows.

- Install a recent version of Visual Studio (The free “Community” Edition is fine. The following steps are based on VS 2017). Make sure the “ASP.NET and web development” workload is selected in the installer;

- Open Debug -> Attach to Process...;

- Click Select... and choose Debug

[2019-11-27 15:07] furkangkhsn commented on #296
The error is related to mshtml. Is there a way to change the engine? Maybe wails will try to find the installed version of chrome? Then run the webview on that? Or use a different engine like ultralight or salvo?

[2019-11-27 19:37] leaanthony commented on #296
Not possible at the moment, but I will be working with another project on
bringing the Edge rendering engine into Wails. The code exists, we just
need to create a Go bridge.

On Thu, 28 Nov 2019, 02:07 Furkan Gökhasan, <notifications@github.com>
wrote:

[2019-11-27 20:13] JackMordaunt commented on #293
That’s great!

Since I don’t have the manifest setup, I’m not sure how the api interacts with it.

Hopefully the manifest takes precedence!

I might try an awkward monitor setup 4K + 1080p with and without manifest file to confirm.

In any case, glad I could help :)

[2019-11-27 20:33] leaanthony commented on #293
Thanks Jack!

There's a stock manifest that gets copied to the project directory and
compiled in. If you are uqick, you can see it. There used to be a flag that
kept those files lying around so you could edit them, in much the same way
as the icon. If that's been removed I may add it back as I think that would
help debug.

Thanks for your help on this issue, the builds look great now 😃

On Thu, 28

[2019-11-27 23:21] jonericcook opened #300 "wails init fails"
**Description**
When I execute `wails init` and follow the prompts, it fails. See below for output.

**To Reproduce**
Steps to reproduce the behaviour:
1. `wails init`
4. See error below:

[code]

**Expected behaviour**
I expected `wails init` to create the skeleton for a wails app.

**System Details**
OSX 10.15.1 (19B88)
GO 1.13.4 darwin/amd64

[2019-11-28 01:24] siulfe opened #301 "dependencies are up to date..."
**Description**

error while run wails init, throw: !ensuring dependencies are up to date

![Captura](https://user-images.githubusercontent.com/50551002/69769687-db742080-1153-11ea-8add-a817e030817a.PNG)

[2019-11-28 02:31] bh90210 commented on #300
#301

[2019-11-28 02:39] bh90210 commented on #300
[code]

[2019-11-28 10:54] leaanthony commented on #300
Looks like those syscalls are OS specific? Well that sucks. I'll need to
fix it with windows specific build tags 🤨

On Thu, 28 Nov 2019, 13:39 Byron, <notifications@github.com> wrote:

[2019-11-28 11:49] leaanthony commented on #300
This is now fixed in the latest pre-release. Update using `wails update -pre`

[2019-11-28 11:50] leaanthony commented on #301
Can you please reopen this ticket using `wails issue` so we can see your environment? Thanks.

[2019-11-28 11:50] #301 closed

[2019-11-28 12:47] bh90210 commented on #301
#300
hi @siulfe I think if you `wails update -pre` your problem will be fixed :)

[2019-11-28 15:46] jonericcook commented on #300
I did a complete OSX reinstall and the problem was fixed.

On Thu, Nov 28, 2019 at 2:54 AM Lea Anthony <notifications@github.com>
wrote:

[2019-11-28 21:52] leaanthony commented on #300
Thanks for letting us know @jonericcook and if you need any Wails support, please feel free to open a new ticket :+1:

[2019-11-28 21:52] #300 closed

[2019-11-28 21:53] leaanthony commented on #293
Looking at the code, it *should* keep the files lying around if you build like this: `wails build -d -p`.

[2019-11-29 07:13] #293 closed

[2019-11-29 11:48] leaanthony commented on #151
Closing until post V1

[2019-11-29 11:48] #151 closed

[2019-11-29 11:49] leaanthony commented on #261
Will revisit after v1

[2019-11-29 11:49] #261 closed

[2019-12-04 17:28] waateekaa opened #302 "high cpu usage (up to 100%)"
**Description**

Just create a demo app (react version has the worst cpu usage)

**To Reproduce**
Steps to reproduce the behaviour:
1. wails init ... wait until build is done
2. start the built executable, the app and a WebkitWebProcess comes up
3. open top or similar tool
4. WebKitWebProcess takes 100% cpu or more (plus the demo about 15%) - see screenshot
5. Closing the app the WebkitWebProcess

[2019-12-04 17:43] bh90210 commented on #302
react in specific has animation. the circling logo.
if you remove this it should be better.

 what is your total CPU? I could not tell from the screenshot

[2019-12-04 20:52] waateekaa commented on #302
Hi,
sorry it's german language. :-D be == Benutzer == user
so "%CPU(s):  2,2 be," means "%CPU(s):  2,2 user",

Yes the rotating logo takes a lot of cpu. Seems there's something wrong with the animation.
The values are from my laptop. Meanwhile I did tests with my desktop pc. The WebkitWebProcess does not consume so much cpu. So the webkit issue could  be related to the configuration or a library v

[2019-12-08 02:35] leaanthony commented on #302
Hey there. Thanks for opening this. I'd be keen to hear other people's experience with CPU usage. I know there was a similar issue opened up for WebView, the windowing library we use but I can't find it.

[2019-12-09 22:16] waateekaa commented on #302
Hi,
meanwhile I did some little tests. Maybe this can help to find the root cause.
I linked against wails@v0.17.15-pre (Don't ask why exactly this version, it's just the one I still have on disk).
The CPU usages is less than 5% for the angular and the vue version and about 20% for the react version. But because of the animation it's not comparable to the others I think.
If I click the "hello" butt

[2019-12-09 23:34] waateekaa commented on #302
Hi,
I've tested multiple versions. It happens from v0.18.3 to v0.18.4.

[2019-12-12 10:43] leaanthony commented on #302
Thanks for your persistence on this. Are you saying pre v0.18.3 it's fine?

[2019-12-12 21:16] #259 closed

[2019-12-14 20:25] waateekaa commented on #302
Hi Lea,
pre 18.4 is fine.
By example:
The angular app build with 18.3 has a cpu usage between 0 and 5% when idle.
The same app build with 18.4 the cpu usage is always between 18 and 25% in idle mode.
Blame it to the new signal handler????

[2019-12-14 22:45] grvlle commented on #290
I'm having the same problem with my Windows build. It throws a script error upon startup, then starts as expected. In addition there are a plethora of UI bugs not present on Linux, macOS nor the browser. The font on my Vue router links changed, my notification library works, but won't let the user close them - nor does the timeout work.

Hopefully this will get fixed so that I can also support tha

[2019-12-16 11:28] octavonu opened #304 "wails init with vanilla js as Default option"
Hello Wailsapp,

Congratulations on your work and milestone. I think that this will be huge!

I am just learning the go lang. together with js/CSS/HTML, therefore do you think that would be possible to add a Default option to wails init with no framework behind? Just for plain js & HTML.

Thank you for your work

[2019-12-16 15:41] Pixdigit opened #305 "Javascript event data absent in backend"
**Description**
Additional data added to events in javascript are not transported to backend.

**To Reproduce**
Steps to reproduce the behaviour:
1. Clone example project from https://gitlab.com/Pixdigit/wails-issue-demo
2. Start project either via wails serve or build
3. In main.js an event is emitted and logged to terminal in main.go
4. Output does not include any data

**Expected behaviour**
Da

[2019-12-16 21:22] leaanthony commented on #305
Thanks for opening this. We know this works so there must be something up
with this configuration. Have you tried maintaining a reference to runtime?
That's all I can think of off the top of my head.

On Tue, 17 Dec 2019, 02:41 Pixdigit, <notifications@github.com> wrote:

[2019-12-16 21:30] leaanthony commented on #305
Found the bug. Fix incoming...

[2019-12-16 21:49] leaanthony commented on #305
The runtime package has been updated to v1.0.10. This should fix the issue. If ou just recompile your project, it should pick up the fix. Let us know. :+1:

[2019-12-17 10:04] Pixdigit commented on #305
Works now. Thank you

[2019-12-17 10:04] #305 closed

[2019-12-17 18:44] furkangkhsn commented on #290
Hi @grvlle. The errors caused by the msHTML or edgeHTML. Wails use webview library and that library depends on default browser engine of the OS. I hope errors will be gone when microsoft switch to chromium. But right now, there is nothing we can do.

[2019-12-17 18:59] grvlle commented on #290
Thanks for the reply. By setting Chromium as a default browser on Windows, would that change the behavior?

[2019-12-17 19:10] uri commented on #291
What would need to happen?

[2019-12-17 21:48] leaanthony commented on #290
No unfortunately. However the good news is that we will shortly be working
with the DeskGap project to port their runtime to Go. This will bring a
huge number of benefits including the Edge rendering engine. When Chromium
becomes default on Windows, we will then support that.

On Wed, 18 Dec 2019 at 05:59, grvlle <notifications@github.com> wrote:

[2019-12-17 21:50] grvlle commented on #290
Beautiful! Thank you @leaanthony for the reply and this fantastic library.

[2019-12-18 07:03] octavonu commented on #290
Hi @furkangkhsn ,

please take a look [here](https://github.com/SAP-samples/ui5-webcomponents-sample-vue), it might help you.

![image](https://user-images.githubusercontent.com/50553626/71063300-be3bdc00-216c-11ea-9556-529207428037.png)

Thanks,
Octav

[2019-12-19 17:04] #263 closed

[2019-12-21 09:18] 914795561 opened #307 "command not found: wails"
command not found: wails

[2019-12-21 10:30] bh90210 commented on #307
hello there,

when you installed `wails` did you have `GO111MODULE=on`?

ie `GO111MODULE=on go get -u github.com/wailsapp/wails/cmd/wails`

[2019-12-21 12:11] VladislavSournine opened #308 "kiosk mode - how to?"
I'm sorry for write in bug-report. But I didn't found any places with discussion about wails.
How to build application in kiosk mode/fullscreen? I need some advice
Thnx

[2019-12-21 12:19] VladislavSournine opened #309 "Caught Unhandled Error"
after successful serve, and build -f.
run application, and got:

What is mean? Where is bug? What I need to fix?

[2019-12-21 14:48] tmclane commented on #308
I used the `wails:ready` event to trigger going to full screen.  Below is an adapted example although there may be some issues with formatting if you were to copy/paste it directly.
I used two structs where you could get by with a single one if you don't mind exposing any public functions on your struct to the frontend.  I was attempting to keep functions only usable by the backend from being expo

[2019-12-21 14:51] tmclane commented on #308
Bear in mind this will not function in `wails serve` mode.

[2019-12-21 15:07] tmclane commented on #308
Here's a working simple application:

https://github.com/tmclane/wailskiosk

[2019-12-21 15:12] tmclane commented on #307
Also make sure you have the directory where the binary is placed in your `PATH`.

[2019-12-21 15:15] VladislavSournine commented on #308
Wonderful! THanks!

[2019-12-21 15:15] #308 closed

[2019-12-23 02:45] leaanthony commented on #308
Super interested to hear what you are using kiosk mode for @tmclane. For Wails 2, I'm looking to add fullscreen startup

[2019-12-23 02:47] leaanthony commented on #309
Without any context, we can't help much.

[2019-12-23 09:22] VladislavSournine commented on #309
I'll try to give more information without posting all project...
And I try to explain.
1. React project with react router etc....
2. In "develop mode" - wails serve // ans yarn start in other terminal - all works fine
3. Build (wails build -f, and (for test) - separate building js code with yarn prod... - no problem
4. run project - got uncaught error.
After some hours of comment/uncomment code -

[2019-12-23 15:25] VladislavSournine commented on #309
Sorry for addon. But - as I see - problem somewhere in using ReactRouter...
and also - in serve mode - all works fine - no bugs. In build -f  prod mode - doesn't work - ReactRouter doesn't render component. And <Redirect - kill application with "Uncaught" err...
Ufff

[2019-12-23 16:42] bh90210 commented on #309
hey @VladislavSournine
when using react router please only use the hash router (if not already) - ie. https://stackoverflow.com/questions/50266537/react-router-using-hash-url

also yarn use is not supported by wails, only npm, but I don't think your issue is yarn related.

[2019-12-24 11:45] VladislavSournine commented on #309
Yep. this solution works fine.

[2019-12-24 11:45] #309 closed

[2019-12-24 11:46] VladislavSournine commented on #309
Thank you, @bh90210 ! ;-)

[2019-12-24 23:58] leaanthony commented on #309
I think we.need to get some of this in the guides section of the site. I'll add this bit of information over the holidays

[2019-12-25 18:38] WilsonLTL commented on #290
I

I am having the same problem when I manually update Vuetify from 1.15.14 to 2.1, and there are many modules is not available to use because of webview. Thanks @leaanthony, we are all looking forward to that.

[2019-12-26 00:18] leaanthony commented on #290
Work has started on the Linux version and has got quite far. Windows is
next 😃

On Thu, 26 Dec 2019, 05:38 WilsonLTL, <notifications@github.com> wrote:

[2019-12-26 03:03] incafox commented on #307
same "bug" here, i tried to install wails on my existing go project directory and nothing happend, pls help

[2019-12-26 03:42] incafox commented on #307
i clearly read the instructions, was my foult, everything is okay

[2019-12-26 03:58] incafox opened #310 "Support Distribution 'ArcoLinux'"
**Description**
Distribution 'arcolinux' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.0.1 |
| Go Version    | go1.13.5 |
| Platform      | linux |
| Arch          | amd64 |
| GO111MODULE   | on |
| Distribution ID   | arcolinux |
| Distribution Name   | ArcoLinux |
| Distribution Version   | v19.12.16 |

Arcolinux is arch linux based

[2019-12-26 07:28] VladislavSournine commented on #309
@leaanthony Good idea

[2019-12-26 11:14] bh90210 commented on #310
hey @incafox
the guide on https://wails.app/guides/distro/ works as should for me.
BUT archolinux should be supported already!

can you please share the output of `cat /etc/os-release`?

[2019-12-26 16:43] incafox commented on #310
thanks for the answer, here is the output:

NAME="ArcoLinux"
ID=arcolinux
ID_LIKE="arch"
VERSION_ID=v19.12.16
ANSI_COLOR="0;36"
HOME_URL="https://arcolinux.info"
SUPPORT_URL="http://arcolinuxforum.com"

[2019-12-26 17:02] bh90210 commented on #310
I am investigating asap.
there should be a PR ready in a couple of hours :)

[2019-12-26 18:14] incafox commented on #310
thankyou so much

[2019-12-28 01:52] ThomasSzabo opened #311 "Blank webview after init and build"
**Description**

I  run`wails init` and create a new project using the React template. Then I `cd` into the new project folder and run `wails build -d`. After the build completes, I am simply calling the binary, which opens the app's view that shows a blank screen. A right click only shows "reload". I am on a Mac OS 10.14.5. The app works fine when I run `wails serve` and `npm run start` on the fr

[2019-12-28 03:14] leaanthony commented on #304
Hi there. This will be part of Wails v2.

[2019-12-28 03:15] leaanthony commented on #311
Hmm... interesting. It must be something to do with the OSX version. I'll look at it over the next couple of days.

[2019-12-29 01:59] bh90210 commented on #310
#312

[2019-12-29 19:31] leaanthony commented on #311
Do you get any output on the console? If not, please try: `hello -loglevel debug`

[2019-12-30 20:18] #287 closed

[2019-12-31 16:24] macdaddyaz commented on #311
I'm seeing what could be the same issue. Fresh project with the Vue 2 template is only displaying a blank window.

There are warnings in the build output:
[code]

[2020-01-01 14:03] tmclane opened #313 "(bridge) implement bridge/dev server remote connection support"
Update the bridge.js and supporting Javascript development servers to allow for remote bridge connections.
This will allow for connections made to the Node development server for each of the front0end implementations to successfully be made from remote devices.

The files needing updated are:

* runtime/assets/bridge.js
* cmd/templates/angular-template/frontend/package.json.template
* cmd/template

[2020-01-02 19:49] leaanthony commented on #313
Fixed by #314

[2020-01-02 19:49] #313 closed

[2020-01-02 19:50] leaanthony commented on #310
Have you tested this @incafox ?

[2020-01-02 19:51] leaanthony commented on #307
Closing this ticket due to inactivity.

[2020-01-02 19:51] #307 closed

[2020-01-02 21:51] incafox commented on #310
yes, it works! thankyou. :)

[2020-01-02 21:51] #310 closed

[2020-01-02 21:54] leaanthony commented on #292
I'll be adding this feature, so reopening

[2020-01-03 09:29] JAYAMURUGANJ commented on #246
Great!

[2020-01-03 10:23] leaanthony commented on #246
I don't know a lot about flutter but it looks like it's not a pure
HTML/js/CSS library? As such, I don't see how it would ever work with Wails.

On Fri, 3 Jan 2020, 20:29 JAYAMURUGANJ, <notifications@github.com> wrote:

[2020-01-03 10:26] moqmar commented on #246
Flutter itself can be used on a lot of platforms, one of them being HTML/CSS/JS. So, I guess it shouldn't be a problem to get a Flutter app working in Wails, but the interopability between Dart and Go will be the harder part.

[2020-01-03 11:01] leaanthony commented on #246
Do you have any links on how to set up the HTML/js part?

On Fri, 3 Jan 2020, 21:26 Moritz Marquardt, <notifications@github.com>
wrote:

[2020-01-03 17:04] sysreport commented on #311
Hi

This is not only on MacOSX. I have a Linux Mint 19 with the same behavior.
I am on a new folder without any files and will create a new Project. I make a wails init with and without the -name parameter and become a blank webview window.
As well if i type wails build -d in a blank folder.

regards
thoralf

[2020-01-03 17:25] sysreport commented on #311
I'm so sorry. The problem was a mistake from me. I have create and build a project named wails and its override the binary in my $G_BIN path.
I have deleted this binary and now it works for me.

[2020-01-03 20:56] #296 closed

[2020-01-04 14:07] tmclane opened #316 "multiple bridge connection support"
This issue is a proposal for multiple websocket management in the `renderer/bridge` code:

The proposal includes the following:
* Updating the `interfaces.Renderer` `Dispatch` function signature to accept a `CallbackFunc` argument to be used in place of the `Callback` function defined in the interface.
* updating the `lib.renderer.WebView` and `lib.renderer.Bridge` to use the updated `Dispatch` pa

[2020-01-05 05:15] leaanthony opened #318 "Typescript declaration file for bindings"
It would be great if we could get a `backend.d.ts` file generated for all bound methods.

[2020-01-05 05:15] leaanthony commented on #318
Requested by @codenakama.

[2020-01-05 05:17] leaanthony commented on #318
The real question is where this file should reside. Originally, my thinking was to create an npm module on the fly, but it turns out that (at least) VSC ignores updates in node_modules (as it should) so updates aren't picked up by the IDE. If we just dump it in the `<project>/frontend` directory, is that sufficient?

[2020-01-05 13:46] codenakama commented on #318
I think under frontend/types/generated would make sense. This flags the dev and possible team members it’s auto generated for them and the use for it.

I’ll give it a spin in my project and give you feedback as we go.

[2020-01-06 08:32] js00070 opened #319 "Support Distribution 'Deepin'"
**Description**
Distribution 'deepin' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.0.1 |
| Go Version    | go1.13.1 |
| Platform      | linux |
| Arch          | amd64 |
| GO111MODULE   | on |
| Distribution ID   | deepin |
| Distribution Name   | Deepin |
| Distribution Version   | 15.11 |

*Please add any extra information here, EG

[2020-01-06 09:32] bh90210 commented on #319
I am working on it :)

[2020-01-06 14:28] janantos opened #320 "Support Distribution 'Manjaro-ARM'"
**Description**
Distribution 'manjaro-arm' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.0.1 |
| Go Version    | go1.13.5 |
| Platform      | linux |
| Arch          | arm64 |
| GO111MODULE   | on |
| Distribution ID   | manjaro-arm |
| Distribution Name   | Manjaro-ARM |
| Distribution Version   |  |

*Please add any extra informatio

[2020-01-06 15:34] nilopaim opened #321 "Wails in Win32"
I'm trying to use Wails on a 32 bits Mingw installation, but I'm getting

`In file included from C:\Go\external\pkg\mod\github.com\wailsapp\wails@v1.0.2-pre2\lib\renderer\webview\webview.go:26:0:
./webview.h:64:22: fatal error: mshtmhst.h: No such file or directory`

I've tried this on two boxes: one with Windows 10 64 bits and another with Windows 10 32 bits.

My primary development box is Win 10

[2020-01-06 20:03] nilopaim opened #322 "Error running Wails build using Angular app"
I generated a new project using Wails v1.0.2-pre2 for an Angular app. The Angular app provided by Wails works like a charm.

Next step I tried to do is copy Angular app, made with Angular CLI 8.3.20, Webpack 4.39.2. to the frontend folder, substituing all content, for sure.

When I run `wails build` it gaves me the error

`Wails v1.0.2-pre2 - Building Application`
`> Ensuring frontend dependencies

[2020-01-06 20:05] nilopaim commented on #321
I've got it to work reinstalling a fresh Mingw.

Thanks and congrats for your fantastic tool.

[2020-01-06 20:16] nilopaim commented on #322
I removed all invalid options from project.json and it builds.

But when I run the application, a blank page is shown...

Calling my Angular app from browser, it works.

Any hint?

[2020-01-06 21:45] bh90210 commented on #322
hey @nilopaim
the reason you get a blank screen is that `wails` expects two single `.css` and `.js` files (see https://github.com/wailsapp/wails/blob/c506c9550667ff71bc5f5ab9cb3f8dba82f2c1cc/cmd/templates/angular-template/main.go.template#L14)

if you generated your new project with angular cli the default settings won't work.

to achieve the same result without using `wails` custom angular templa

[2020-01-07 00:43] billacw opened #323 "Wails fails on "wails build" but runs with "wails serve""
**Description**

I can debug with "wails serve" but "wails build" fails with error missing file. It seems to be misspelling the main.css file as main.cs

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
The package builds into an executable

**Screenshots**
If applicable, add screenshots to help expla

[2020-01-07 01:44] bh90210 commented on #320
#319 a PR is coming in

[2020-01-07 02:30] bh90210 commented on #323
hmmm the log says `main.cs` can not be found. could it be it or is it cut out (the final `s`) due to some windows weirdness?

[2020-01-07 04:57] billacw commented on #323
The main.css and main.css.map was created in the directory and remains after the failed build.
located in C:\Users\billa\go\src\countworks.us\golang\paperdata\dp2rm\frontend\build\static\css

[2020-01-07 09:53] codenakama commented on #318
@leaanthony I have some ideas for this. Where we could use something like protoc and a `wails generate` command to autogen the `typescript` definitions for the bindings. This would probably require either following a pattern or the use of comments, or a `yaml` config file for example so the generate command knows where to look at.

I might be able to spend time on a PR for this but if you already

[2020-01-07 09:57] codenakama commented on #318
These libs look like something we could make use of to achieve this
https://github.com/tkrajina/typescriptify-golang-structs
https://github.com/OneOfOne/struct2ts

[2020-01-07 10:45] leaanthony commented on #323
That's a long path in the error. Is it 256 chars long?

On Tue, 7 Jan 2020, 15:57 William Aylesworth, <notifications@github.com>
wrote:

[2020-01-07 10:49] leaanthony commented on #318
Hi Richard,

As the methods will be bound to namespaced methods in JavaScript, the type
definition file will want to reflect that. I think we have all the
information we need to do this, however what would a valid .d.ts file look
like if you made it by hand? Would you need multiple for the different
namespaces? We can use that as a template and generate it.

On Tue, 7 Jan 2020, 20:57 Ricardo Abreu

[2020-01-07 10:52] leaanthony commented on #322
Thereason the templates are there are to provide known working
configurations. The strategy should be to update/create a new template. We
have some docs on that on the main site. If you see any gaps, let us know.
If you get it working, feel free to create a PR! 👍

On Tue, 7 Jan 2020, 08:45 Byron, <notifications@github.com> wrote:

[2020-01-07 10:53] leaanthony commented on #321
Glad you fixed it! Please consider creating a PR for the docs with this
information. Best of luck.

On Tue, 7 Jan 2020, 07:05 Nilo Roberto C Paim, <notifications@github.com>
wrote:

[2020-01-07 12:49] codenakama commented on #318
Let me just understand if we are talking the same.

let's say I do

[code]

then I would expect a `wails.d.ts` or `backend.d.ts` file that looks like

[code]

[2020-01-07 15:02] nilopaim commented on #322
If I understood correctly, the needed alterations must be done on the Angular part, as the Angular CLI doesn't the option --single-bundled and bundle-styles.

Another alternative, that I think would be wonderful, would be `wails` accept more than just one `.js` file and more than just one `.css` file. Of course I have by no means profound knowledge of the internals of your tool, and I sincerely do

[2020-01-07 15:19] bh90210 commented on #322
hmm my bad!
for the extra options I used https://www.npmjs.com/package/ngx-build-plus (https://github.com/wailsapp/wails/blob/c506c9550667ff71bc5f5ab9cb3f8dba82f2c1cc/cmd/templates/angular-template/frontend/package.json.template#L26)
so you either copy the above template from wails or simply `npm i ngx-build-plus` and hopefully it will work.

[2020-01-07 15:22] bh90210 commented on #322
let me know if you had any success or where you stuck to help you from there :+1:

[2020-01-07 17:13] billacw commented on #323
The path is 93 characters
C:\Users\billa\go\src\countworks.us\golang\paperdata\dp2rm\frontend\build\static\css\main.css

[2020-01-07 17:16] billacw commented on #323
created a new Wails project with init in a different directory on the same machine. Same error.

[2020-01-07 18:32] nilopaim commented on #322
@bh90210

No way to make it works.

What I tried:
`wails init`, using template Angular. It works, and `package.json` contains `"ngx-build-plus": "^8.0.3",` as expected.
I substitute the contents of `frontend` folder with my Angular app, but I ensure that `package.json` contains the line `"ngx-build-plus": "^8.0.3",`. It does not work when `wails build`, showing the same error of the first comment

[2020-01-07 18:35] nilopaim commented on #322
Forgot to say that my Angular app only talks with Go using HTTP/HTTPS requests. My Go backend is used by another applications.

[2020-01-07 21:04] nilopaim commented on #322
Ok. I started to create a new template. Maybe I'll solve the problems, maybe not.

Anyway, I think it will be a way to understand better the tool.

[2020-01-07 21:07] billacw commented on #323
Sorry my mistake. This is not a bug. I set the CSS in my main function to "main.cs" not "main.css". Once I fixed that mistake it compiled!!

[2020-01-07 21:07] #323 closed

[2020-01-08 09:11] winwisely99 commented on #235
The new Webview is now done.
Thanks @zserge

It would be great if wails can support this.

[2020-01-08 17:16] nilopaim commented on #322
After advancing on new template, how is `wails` supposed to works with standard Angular routing?

Using `wails serve` and opening Angular app using browser, the Angular routing works. But when I make `wails build` routing doesn't works.

Any hints?

[2020-01-08 18:09] billacw opened #325 "packaged Windows application starts then crashes, debug version runs, how to debug .exe"
**Description**

Go code and React frontend works fine in debug/dev mode. Wails serve starts, npm run start both work. After packaging the application into a Windows .exe and running it, the Webview flashes and ends. How can I debug the .exe?

I ran the executable file and got this error from Visual Studio
API server listening at: 127.0.0.1:29900
could not launch process: decoding dwarf section in

[2020-01-08 20:13] leaanthony commented on #325
Based on a [quick google search](https://www.google.com/search?q=decoding+dwarf+section+info+at+offset+0x0%3A+too+short), this sounds like an environment issue. Does anything in those links apply to your setup?

[2020-01-08 20:58] bh90210 commented on #320
@janantos sorry for the delay
a new pre-release will be out soon. you will be able to update and test with `wails update -pre`

If I understand you are planning on using wails on some ARM device? Please let us know is you succeed. If not please report back for support. :smiley:

[2020-01-08 22:16] bh90210 commented on #319
done :smiley:

test update with `wails update -pre` :+1:

[2020-01-08 23:40] tmclane commented on #311
I can't duplicate this issue with the React UI when running Mojave 10.14.4:

|Software|Version|
|--|--|
|Node|v12.14.1|
|npm|6.13.4|
|go|1.13.5|
|gcc|Apple 10.0.1 (clang-1001.0.46.4) - 4.2.1|
|Wails|1.0.2-pre3|

Unfortunately I cannot update OS X past this because of space issues on the box.
I would recommend trying a newer version of Wails and seeing if the issue goes away.

I just tested Wails 1

[2020-01-09 08:37] leaanthony commented on #322
It's not really designed for that. There are very specific requirements for the frontend that need to be adhered to: a js bundle with *all* assets encoded in it, and a CSS file. It's not meant to be a browser replacement. I'm sure it's possible to get angular routing working if you choose the right kind of routing. This works for React: https://wails.app/guides/reactrouter/

There will be many dif

[2020-01-09 08:38] #321 closed

[2020-01-09 08:38] leaanthony commented on #318
Perfect! This really helps things. :+1:

[2020-01-09 09:15] billacw commented on #325
I think it was an environment issue. I restarted the app by creating a new Wails project with init in a separate directory. I carefully added in only the node modules I needed. I made sure I could build an app at each step and have it run. I slowly added in my go code and bit by bit the React code. I put in global onerror in the html body. Never found any issue that caused any problem in the new d

[2020-01-09 09:15] #325 closed

[2020-01-09 10:48] leaanthony commented on #325
I'm glad you found it! If there's anything you feel may help others, it would be great to have that as a PR in the docs1 repo. Good luck :+1:

[2020-01-09 11:54] nilopaim commented on #322
Thanks, @leaanthony.

I think that I need to investigate more. As I couldn't make my Angular app works, I'll try some alternatives (React and Vue). Maybe I'll make a rewrite of my app.

Again, congratulations for a great tool and thanks for the fantastic work of the team.

[2020-01-09 15:21] tmclane opened #326 "Support Distribution 'Raspbian GNU/Linux'"
**Description**
Distribution 'raspbian' is currently unsupported.

**Further Information**
Opening this to submit a PR with support added.

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.0.2-pre3 |
| Go Version    | go1.13.5 |
| Platform      | linux |
| Arch          | arm |
| GO111MODULE   | (Not Set) |
| Distribution ID   | raspbian |
| Distribution Name   | Raspbian GNU/Linux |
| Di

[2020-01-09 15:45] bh90210 commented on #326
@tmclane are u on it or should I do it?

[2020-01-09 15:47] tmclane commented on #326
I opened this issue since I have already got it running!  PR shortly

[2020-01-10 10:25] bianxl-yy opened #328 "Support Distribution 'KaOS'"
**Description**
Distribution 'kaos' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.0.1 |
| Go Version    | go1.13.5 |
| Platform      | linux |
| Arch          | amd64 |
| GO111MODULE   | (Not Set) |
| Distribution ID   | kaos |
| Distribution Name   | KaOS |
| Distribution Version   | 2020 |

*Please add any extra information here, EG

[2020-01-10 11:21] bh90210 commented on #328
hello @bianxl-yy
please stay tuned a supporting PR is coming shortly!

[2020-01-10 13:00] leaanthony commented on #326
Ready for testing :-)

[2020-01-10 13:02] leaanthony commented on #320
v1.0.2-pre3 supports this now. Please update using `wails update -pre` and let us know :+1:

[2020-01-10 13:04] leaanthony commented on #322
Thanks for the kind words. As this isn't a bug with Wails itself, I'm going to close the ticket. Feel free to reopen if you can find an issue. :+1:

[2020-01-10 13:04] #322 closed

[2020-01-10 15:20] janantos commented on #320
@bh90210 ji, yes I am going to use it on Pinebook Pro, will definitively give you feedback soon. Thanks for your effort.

[2020-01-10 20:15] janantos commented on #320
hi, thanks again for your effort, but it does not work.

wails init
Wails v1.0.2-pre3 - Initialising project

The name of the project (My Project): test
Project Name: test
The output binary name (test):
Output binary Name: test
Project directory name (test):
Project Directory: test
Please select a template:
  1: Angular - Angular 8 template (Requires node 10.8+)
  2: React JS - Create React App v3

[2020-01-10 20:57] bh90210 commented on #320
#326

[2020-01-10 21:11] bh90210 commented on #320
after a quick search I've found https://archlinuxarm.org/forum/viewtopic.php?f=15&t=9583
can you please `npm -v` and share the result?

+ https://github.com/nodejs/help/issues/1453#issuecomment-415761791
`The Illegal instruction error concerns the production (by the JIT) of an instruction that the processor does not recognise as valid. That might arise if the architecture of what was downloaded do

[2020-01-10 21:18] bh90210 commented on #320
* https://raspberrypi.stackexchange.com/questions/24059/node-js-v0-11-14-exits-with-illegal-instruction
### Test node
To test whether this is the reason you are experiencing the 'Illegal instruction' error, run node --v8-options and look at the second line. If it is:

`ARMv7=1 VFP3=0 VFP32DREGS=0 NEON=0 SUDIV=0 ...`
then the ARMv7=1 hints that V8 is compiled for ARMv7.

[2020-01-10 22:10] leaanthony commented on #318
@codenakama - Do you have a more detailed example with types? The above doesn't have the signature for someFunc. I'm trying to get a handle on what this might look like in different scenarios. Thanks :+1:

[2020-01-10 22:26] leaanthony commented on #320
Awesome work @bh90210 - I've added an ARM section in the docs to capture this information and add a Work in progress notice to it. @janantos - once you confirm the solution, we'll ensure the docs reflect this. It will greatly help others who will be using ARM.

[2020-01-10 23:09] codenakama commented on #318
@leaanthony consider this

[code]

and that we have methods for the `AbletonPush` type

[code]

I would expect in a typescript file somewhere this

[code]

Hope this helps. let me know

[2020-01-11 03:49] leaanthony commented on #292
I think this is actually impossible. We load the main html via a data-uri and it seems you can only allow access to `file://` urls if you loaded via a `file://` url.

Have you done any further research around this? I'd rather not dump the html to disk and then load it off disk to enable this feature.

[2020-01-11 07:05] ewener opened #329 "chunk js css"
I use Vue as the front-end framework,many chunk JS CSS will be generated,but walls can only use one JS and CSS,what should I do?

[2020-01-11 07:39] coolhlm commented on #329
I seem to have the same problem. when I used 'wails serve' and 'npm run dev',browser can work normally, but when I used 'waves build', I get a blank page . It seems that the CSS and JS files can't be found. How can I fix this issue.Thank you.

[2020-01-11 08:43] leaanthony commented on #329
Hi. There will be no support for chunking in Wails. The templates come with everything you need to set up a project. They bundle everything in a way that can be used.

[2020-01-11 08:44] leaanthony commented on #329
Please open up another ticket with more information. Thanks.

[2020-01-11 08:44] #329 closed

[2020-01-11 08:54] leaanthony commented on #318
Ah I thought each one would by async and the parameters would be in the parenthesis?

[2020-01-11 10:02] codenakama commented on #318
Yes that is correct. I forgot to add those details but consider it like so.

I’ll be honest I don’t know how to declare an interface that has an asynchronous method. I believe it returns a promise, hence why I did it so.

[2020-01-11 10:14] leaanthony commented on #318
I'm pretty close. Just need the right format:

For:
[code]
I generate:
[code]
Needs functions done too.

[2020-01-11 10:18] leaanthony commented on #318
The problem will be the inability to know the parameter names. So the only way this could be done easily is: `(...args : any[]) => promise`

[2020-01-11 10:22] leaanthony commented on #318
Hmmm... This might be possible this way. I was hoping to avoid AST parsing but that may well be the needed :(

[2020-01-11 11:01] codenakama commented on #318
Sounds like a good compromise for the moment. I need to learn more about this so I can help you too. Perhaps after your PR I can pickup after and help in further improvements.

[2020-01-11 11:22] leaanthony commented on #318
The runtime approach is easy because reflection is relatively easy. AST parsing is less easy, especially if you are dealing with multiple packages.

[2020-01-11 11:41] leaanthony commented on #318
Initial code on v1.0.2-pre5. Update with `wails update -pre`. Usage:

1. `wails build -d -t "types/generated/mybindings.d.ts"`
2. Run app

It's hacky as hell but it may do as a first pass.

[2020-01-11 11:51] leaanthony commented on #292
Been thinking. We *could* have a method on the runtime called `LoadFile` which returned back a base64 string. We could intercept that at the C layer and do the file I/O there. It wouldn't need to come back to Go.

[2020-01-11 22:02] bh90210 opened #332 "Linux WebRTC not supported"
Edge and Webkit both support WebRTC but atm webkitgtk does not.

_from https://webkitgtk.org/_
_"Support for audio and video
The web isn’t just for reading words. We drive development of the GStreamer WebKit backend and support full integration of video into page content and the HTML canvas element. Currently we are working to finish support for WebAudio and WebRTC."_

so there is nothing we can r

[2020-01-11 22:29] bh90210 commented on #328
ok I am looking in to it and it seems like KaOS doesn't have a webkitgtk package?

https://forum.kaosx.us/d/1817-package-from-aur/7

also there is no docker image so I can not investigate more I'm afraid.

[2020-01-12 17:02] janantos commented on #320
hi, whatever was fixed in 1.0.2-pre5 fixed the problem itself.
nothing needs to be set in Manjaro-arm

current tested versions
npm 6.13.6
node 13.6.0

manjaro-arm is full 64bit (aarch64) not like rapsbian where is 64bit kernel but 32bit userspace (armhf)

so we can declate it working, as vue project builds and run. I am using pinebook pro which have chipset RK3399, it is arm8 not arm7 as rpi.

tha

[2020-01-12 19:10] leaanthony commented on #320
Thanks for confirming. Wails hasn't been targetting ARM specifically so I'm
not sure what performance is like. Hopefully, this is something you could
give feedback on. Good luck 👍

On Mon, 13 Jan 2020, 04:02 Jan Antos, <notifications@github.com> wrote:

[2020-01-12 20:42] janantos commented on #320
@leaanthony do you have any benchmark? On the other side rk3399 chipset is quite powerful. Definitively will provide feedback.

[2020-01-12 21:49] leaanthony commented on #292
@fbrinker please let us know if you are still interested in this. If it's not urgent, I'm going to put it on hold for a while and see if anything transpires in the webkit libraries.

[2020-01-13 09:44] leaanthony commented on #320
No benchmarks for me, but some of the IPC is quite CPU intensive. I'm also
wondering if tinygo would be an option too....

On Mon, 13 Jan 2020, 07:42 Jan Antos, <notifications@github.com> wrote:

[2020-01-13 09:49] codenakama commented on #318
@leaanthony I tried it over the weekend, forgot to give you feedback earlier. It didn't work for me or I missed a step along the way :/

Just gave another try and nothing. I'll have a look at the branch changes later.

[2020-01-13 09:50] soluty opened #333 "init failed"
**Description**

wails init

Wails v1.0.1 - Initialising project
The name of the project (My Project): ddd
Project Name: ddd
The output binary name (ddd):
Output binary Name: ddd.exe
Project directory name (ddd):
Project Directory: ddd
Please select a template:
  1: Angular - Angular 8 template (Requires node 10.8+)
  2: React JS - Create React App v3 template
  3: Vue2/Webpack Basic - A basic Vue

[2020-01-13 09:52] leaanthony commented on #333
That's odd. Do the other templates work?

[2020-01-13 09:57] leaanthony commented on #318
What version are you using?

On Mon, 13 Jan 2020, 20:49 Ricardo Abreu, <notifications@github.com> wrote:

[2020-01-13 10:02] fbrinker commented on #292
Thanks for looking into this :)

It's not urgent, since I've worked around it for now, so I'm fine with putting this on hold for a while :+1:

[2020-01-13 10:07] soluty commented on #333
also not work

[2020-01-13 10:09] soluty commented on #333
my system disabled windows hyper-v and use virtualBox  for vm.  dose this has any effect?

[2020-01-13 11:14] janantos commented on #320
@leaanthony I would doubt tinygo will work as cgo is partially supported. Also standard library is not fully supported.

[2020-01-13 14:20] bianxl-yy commented on #328
Ok, got it. Thank you for your efforts.

[2020-01-13 14:20] #328 closed

[2020-01-13 14:30] nilopaim opened #334 "Wails Windows wails.events undefined"
Using Vue without problems so far.

But I'm getting error on `wails.events.on` on my code. Following the message I get on browser console and my code in the Vue component:

`[Vue warn]: Error in mounted hook: "TypeError: Cannot read property 'on' of undefined"`

`mounted: function() {
    console.log(wails.events);
    wails.events.on("sample", sample => {
      if (sample) {
        this.Amostra

[2020-01-13 16:41] nilopaim commented on #334
After some more digging, the console log shows me

`TypeError: 'caller', 'callee', and 'arguments' properties may not be accessed on strict mode functions or the arguments objects for calls to them
    at Function.invokeGetter (<anonymous>:1:142)`

[2020-01-13 17:18] nilopaim commented on #334
[https://dev.to/plutov/building-desktop-app-in-go-using-wails-1poh](url) has an example of what I would like to do.

It works when I changed `wails.events.on` on the Vue component by `wails.Events.On`

The difference resides that `event` and `on` should have its first letter uppercase.

I'll try to write some doc about the use of events when my backlog allows. Currently I'm making a POC and I have

[2020-01-13 17:51] leaanthony commented on #334
Hi, the runtime changed API a while back. The latest API will always be on
our [docs](https://wails.app/reference/runtime/)

On Tue, 14 Jan 2020, 04:18 Nilo Roberto C Paim, <notifications@github.com>
wrote:

[2020-01-13 17:53] #334 closed

[2020-01-13 18:18] bh90210 commented on #328
@leaanthony
what we can do for situations that the distro can not be supported due to libraries missing, like KaOS. is to provide a. a guide and b. a docker image with all tooling and develop/test via running the gui app inside docker.

resources:
https://forums.docker.com/t/still-not-sure-how-to-run-gui-apps-in-docker-containers/79103/2
https://medium.com/@SaravSun/running-gui-applications-inside

[2020-01-14 07:05] leaanthony commented on #328
For v1, there's nothing we can do about it. The platform doesn't support
the libs. Docker plus AppImages is probably the answer.

On Tue, 14 Jan 2020, 05:18 Byron, <notifications@github.com> wrote:

[2020-01-14 09:33] leaanthony commented on #318
What OS are you using?

[2020-01-14 10:09] leaanthony commented on #318
Just tested:

[code]

[2020-01-14 10:13] leaanthony commented on #326
I'm going to assume this is working because @tmclane said his PR worked for him locally.

[2020-01-14 10:13] #326 closed

[2020-01-14 10:14] leaanthony commented on #320
Thanks for the feedback. Glad it's working for you. Closing.

[2020-01-14 10:14] #320 closed

[2020-01-14 10:15] leaanthony commented on #290
I'm going to close this for now as these errors will be fixed by the changing of the windowing library. This will happen in v2 and it's being worked on now.

[2020-01-14 10:15] #290 closed

[2020-01-14 10:16] leaanthony commented on #302
I absolutely couldn't reproduce this. What might be useful is if you ran your app with tracing enabled. This should tell you where it's spending the most time.

[2020-01-14 10:17] leaanthony commented on #292
Am going to defer this to Wails v2. We won't forget.

[2020-01-14 10:17] #292 closed

[2020-01-14 10:18] leaanthony commented on #316
Ping me when you're back and we'll go over this.

[2020-01-14 11:06] codenakama commented on #318
@leaanthony something must be wrong with my setup. I am using a macbook pro late 2018 with Mac OS Mojave - and I believe Go 1.13.

Created a new project from scratch and still couldn't get it to work. Is there any other steps I can take to help debug the issue?

[2020-01-14 18:07] leaanthony commented on #318
Try this:
[code]

On Tue, 14 Jan 2020, 22:06 Ricardo Abreu, <notifications@github.com> wrote:

[2020-01-14 21:36] codenakama commented on #318
@leaanthony here is output from running that

[code]

[2020-01-15 01:44] bianxl-yy commented on #328
Good idea, I will try it.

[2020-01-15 08:57] leaanthony commented on #318
I just tested on Mac and it's working:

[code]

The only thing I can suggest is this:
[code]
and try again.

[2020-01-16 09:46] bh90210 commented on #328
@leaanthony my proposal here wasn't for wails built apps to run on unspported distros
but rather enable the development of wails apps on such distros.

[2020-01-17 08:59] enverromon opened #335 "Missing parameter data on backend go function call on Windows"
**Description**

When I call a function backend implemented in Go the IPC message received lose some data. On linux this call goes fine but on windows fails.

The backend function is defined like this:

[code]

And the frontend call it:

[code]

When run it on linux with debug i can see this on logs:

[code]

But on windows:

[code]

The field 'until' always came empty on Windows.

**To Reproduce*

[2020-01-17 20:18] leaanthony commented on #335
Can you please try with the prerelease version:
`wails update -pre`?

[2020-01-18 19:20] leaanthony commented on #318
Any updates @codenakama ?

[2020-01-18 19:21] leaanthony commented on #333
None. Try using the latest pre-release: `wails update -pre`

[2020-01-18 19:21] leaanthony commented on #319
Any feedback @js00070 ?

[2020-01-18 19:23] leaanthony commented on #311
Any updates @ThomasSzabo ?

[2020-01-18 19:24] leaanthony commented on #304
Closing this as it won't be part of Wails V1, however it IS on the roadmap.

[2020-01-18 19:24] #304 closed

[2020-01-18 19:25] leaanthony commented on #302
Any updates @waateekaa ?

[2020-01-19 01:32] mehtaabGill opened #336 "Request: Example/Template"
For those of us new to React, Vue, and Angular, I feel an example repo or project template with vanilla js/html/css would be quite helpful. Thanks.

[2020-01-19 04:37] bh90210 commented on #336
hello @mehtaabGill
at the moment wails works by grabbing a `.js` and a `.css` files produced from any front and renders them.
So in order to work you need to use webpack in the very least.

We tried to figure a way to have an easy solution/alternative but it was far from pure html/js. We had to use node/webpack again.

albeit, we are in the workings of wails v2 where this feature will be available

[2020-01-19 04:52] bh90210 commented on #336
#304

[2020-01-19 04:53] bh90210 commented on #304
#336

[2020-01-19 05:59] leaanthony commented on #336
As Byron said, this will be coming in v2. If you really want to try to roll your own, just replace the js and CSS file paths in a generated main.go to your own and remember to ensure that you use `@wailsapp/runtime` and use the `Init` method to callback to your js.

My humble opinion is that of all your options, learning Vue is the easiest. It really will make your life easier.

[2020-01-19 05:59] #336 closed

[2020-01-20 08:29] enverromon commented on #335
Hi,

after i did some debugging i can see that the problem was on bootstrap-vue library <b-form-select> component.

Sorry for the inconvenience, you can close this :)

[2020-01-20 09:20] leaanthony commented on #335
Thanks for letting us know!

On Mon, 20 Jan 2020, 19:29 Enver Romon, <notifications@github.com> wrote:

[2020-01-20 09:20] #335 closed

[2020-01-20 13:53] waateekaa commented on #302
oh, I can see my response wasn't delivered.
I added trace logs. I will split it into two parts.
/cheers

Am Sa., 18. Jan. 2020 um 20:25 Uhr schrieb Lea Anthony <
notifications@github.com>:

[2020-01-20 14:02] waateekaa commented on #302
Here are the trace file. I never did go trace analysis before. So I can't tell what's wrong. Hopefully you can.

I updated to the latest wails version, added
trace.Start(os.Stderr)
defer trace.Stop()
to the main function and ran the react and angular demo app version. Please find the trace files attached.

[wails-angular-trace-v1.01.out.zip](https://github.com/wailsapp/wails/files/4086496/wails-an

[2020-01-21 15:16] ThomasSzabo commented on #311
Sorry @leaanthony I moved on testing zserge's webview directly.

[2020-01-22 07:17] leaanthony commented on #311
Cool. I'll close this.

[2020-01-22 07:17] #311 closed

[2020-01-22 09:44] VladislavSournine opened #337 "Border in fullscreen application"
I have fullscreen application. All works fine in dev-mode. In chrome/firefox - I have no problem. But in fullscreen - I got black borders at screen. And view stay draggable for user

Steps to reproduce the behaviour:
1. Get screen size of your monitor (1024/768).
2. Create Fullscreen application with same resolution
3. Create css style for screen size
4. Check view in your browser (wails serve mod

[2020-01-23 06:34] leaanthony commented on #337
Are you sure this isn't a CSS issue?

[2020-01-23 14:27] VladislavSournine commented on #337
I think no.
Chrome/Firefox - works fine with this css.
Webview - no.
In css:

  height: 768px;
  width: 1024px;
}

and

    font-family: GothamPro;
    src: url("fonts/GothamPro.eot") format("eot");
    src: url("fonts/GothamPro.ttf") format("ttf");
    src: url("fonts/GothamPro.woff") format("woff");
}

body {
    font-family: GothamPro, serif;
}

But no font in builded application... May be this

[2020-01-23 21:27] leaanthony commented on #337
It's perhaps the default CSS.

Try this:
[code]

[2020-01-24 07:42] VladislavSournine commented on #337
Wow. Thanks!
This time - works fine.
yesterday - not work. Hard day... ;-)
Thank you!

[2020-01-24 07:42] #337 closed

[2020-01-25 19:09] mehtaabGill opened #338 "Frameless Window"
Is it possible to add an option for frameless windows? In electron you can pass a parameter to indicate you want a window without the default frame/title bar. Would be great if we could use that here as well.

[2020-01-25 20:02] leaanthony commented on #318
I know now why this doesn't work and it's because the version of Wails in your go.mod isn't the same as the one you are compiling with. I've updated the build system to update go.mod to the current version when building.

Please update: `wails update -pre` to `v1.0.2-pre6` and test again.

FYI: I think the typescript file is wrong but at least this can help us get it working :+1:

[2020-01-25 22:18] codenakama commented on #318
Thanks it works now!  However now I can also demonstrate a more valid output

[code]

the file should look like this. what would be niece is if the promise could show the value that is returned when it gets resolved :) but you know this is already improved dev experience IMO so thanks. I think we're getting there.

[2020-01-26 00:05] leaanthony commented on #318
I've updated it in `-pre7`, however I'm concerned that there's been a regression in binding structs. What should be happening is that structs you bind should be namespaced by their package names in order to prevent naming clashes, so your struct *should* be at `window.backend.push.AbletonPush`.

I'll need to investigate.

[2020-01-29 06:53] leaanthony commented on #338
This is something I'll stick in the backlog for V2. The general strategy will be to provide a feature flag system, where we perhaps implement something like this on one platform initially and over time extend that to the other platforms. What platform are you using primarily?

[2020-01-29 09:42] grvlle opened #340 "[VueJS] Unable to iterate a list on Windows. It works fine on MacOS and Linux."
**Description**
Unable to iterate a list on Windows. It works fine on MacOS and Linux.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://vuejs.org/v2/guide/list.html
2. Pick one or multiple ways of iterating a list.
3. Wails init
4. Try to iterate one of the lists.

**Expected behaviour**
The ability to iterate and present the results of the list of objects in a loop using v-for

[2020-01-29 12:07] grvlle commented on #340
Windows enviornment where the problem is present.
[code]

[2020-01-29 12:08] grvlle commented on #340
Worth noting is that I got it working for a moment, tried to implement it in a more robust way, that broke the component. When restoring the code to when it was working, the component i still broken. I'm also unable to bring up the JS console using Shift+Esc

[2020-01-29 17:36] grvlle commented on #340
Finally managed to access the JS console and noticed IE11 didn't play nice with ES6. Had to opt out from using list = [...var].

[2020-01-29 17:36] #340 closed

[2020-01-29 20:07] leaanthony commented on #340
Glad you got some use out of the windows console. At least that's SOME ROI :smile: Any windows quirks are 99% to do with the renderer. We are really hoping to switch to edgeHTML for v2, if not edge chromium.

[2020-01-29 20:50] grvlle commented on #340
Haha, thank God! Can't wait. 🙌🙌🙌

[2020-01-29 22:25] #316 closed

[2020-02-03 13:02] salmi3d opened #341 "Changing build platform"
Greetings to wails team!
Sorry, I don't find any other place to ask a question. I'm developing wails app on win x64. Is it possible to build exe for win x32 platform? Thanks in advance!

[2020-02-04 08:20] leaanthony commented on #341
Doing this will probably not be possible with V1 I'm afraid. How do you think it might work? 2 installations of TDM?

[2020-02-04 08:29] salmi3d commented on #341
I don't know, just asking for such possibility.

[2020-02-04 10:40] #341 closed

[2020-02-06 21:43] leaanthony commented on #319
Closing due to lack of response

[2020-02-06 21:43] #319 closed

[2020-02-06 21:44] leaanthony commented on #302
Hey, sorry for not getting onto this yet. Will look this weekend

[2020-02-07 14:00] psyhonut opened #342 "Let to configure wailsbridge websocket url"
As seen in file runtime/assets/bridge.js and wails/lib/renderer/bridge.go there are hard coded web socket url and port.

We need to change it.

Can you add ability to configure this?

[2020-02-07 16:49] tmclane commented on #342
If you look at the `develop` branch you will see that it is in fact actually set to whatever the browser's `window.location.hostname` value is:

https://github.com/wailsapp/wails/blob/develop/runtime/assets/bridge.js

The port isn't configurable at this time.

[2020-02-12 12:31] moqmar opened #345 "Errors are not obvious because command output is hidden"
**Description**
I mistakenly used `parcel script.js` as a build command, and waited around 15 minutes before noticing that the command starts a webserver (duh), so I changed it to `parcel build script.js`. That would have been way faster to debug if Wails just forwarded STDOUT & STDERR directly instead of showing that beautiful but unneccessary spinner.

**To Reproduce**
Steps to reproduce the beh

[2020-02-12 14:21] winwisely99 commented on #332
Requires the zserge lib that is not on the master branch.

I am not sure if it stable yet though ?

Anyone tried ?

[2020-02-17 14:52] VladislavSournine opened #346 "Wails crash"
**Description**
After (or when) reac app is reloading - got panic crash

**To Reproduce**
1. You need to have application with not-fash api requests, emits.
2. You need to update js code when wails serve, and (possible) works with one of request, or try to emit socket.
3. Got error

`panic: concurrent write to websocket connection

goroutine 514 [running]:
github.com/gorilla/websocket.(*messageWri

[2020-02-17 19:38] tmclane commented on #346
Howdy.  I am looking into this bug but so far I can not recreate it.
Can you provide more information on your steps for reproduction?

I did the following:

- go get -u github.com/wailsapp/wails/cmd/wails
- wails init
[code]
- cd servertest
- wails serve
- `cd frontend`enter `frontend`

[2020-02-18 07:29] VladislavSournine commented on #346
@tmclane I'll try to repeat it with 100% guarantee.
Possible - I think - it's long working backend.Api, which send data (Emit) to reloading react.
But - I'm not sure...
If you can help me with precision detecting problem - (which socket message?) and debug it - I'll be faster...

[2020-02-19 07:42] VladislavSournine commented on #346
@tmclane Problem with js state:
- when update js code - some redux state has been droped. But start API request - working. With wrong (nil) paramaters. So. This is my fault. Sorry

[2020-02-19 07:42] #346 closed

[2020-02-21 03:51] billacw opened #348 "Small Webview window running app and small text for buttons. Dev build correct size"
**Description**

Build the app with width=1000 and height=800 but running the app displays a small main window

**To Reproduce**
Steps to reproduce the behaviour:
Wails code
	app := wails.CreateApp(&wails.AppConfig{
		Width:  1024,
		Height: 800,
		Title:  "RMBLConfig v1.0",
		JS:     js,
		CSS:    css,
		Colour: "#131313",
	})

**Expected behaviour**
The app to have the correct window size

**Scr

[2020-02-21 10:11] leaanthony commented on #342
Can we close this?

[2020-02-21 10:15] leaanthony commented on #348
It probably won't fix your issue, but you should probably upgrade to v1.0.2.

For Windows, you need to design your app as if you're targeting IE9. Have you tried running `wails serve` and using IE to test?

[2020-02-21 16:13] raguay opened #349 "How to run JavaScript from Go?"
It's not a bug, but a question. I've looked all over the site, but I can't find details on how to run arbitrary JavaScript code from Go Lang in the browser. I'm running a fiber HTTP server in Go that I want to post to the front-end when I get certain requests.

[2020-02-21 20:02] billacw commented on #348
here is the initial project doing the same thing. I think it might be my Windows display settings. I have "Scale and layout" set to 200%
Startup project in browser
(https://drive.google.com/file/d/1v5hXdZ73p3RwvZZOxqDfYOTANTFMbCmr/view?usp=sharing)

Startup project run as an app
(https://drive.google.com/file/d/168Ve7FKRzfJ4oBXzLcvO1AnfqdabD5OE/view?usp=sharing)

windows 10 display settings
(https

[2020-02-21 20:02] #348 closed

[2020-02-21 20:26] leaanthony commented on #349
The best way to do that is to [emit](https://wails.app/reference/runtime/#emit) an event with the data. This can be picked up by the frontend and processed as you wish.

[2020-02-21 20:31] leaanthony commented on #349
Perhaps the [Quotes Tutorial](https://wails.app/tutorials/quotes/) will be useful to you?

[2020-02-21 20:41] leaanthony commented on #345
The output is hidden because of console spam. Errors are surfaced if they occur. As your mistake didn't result in an error, it wasn't surfaced. There's an argument for a verbose flag though.

[2020-02-21 22:22] leaanthony commented on #348
Glad you got to the bottom of it!

On Sat, 22 Feb 2020, 07:02 William Aylesworth, <notifications@github.com>
wrote:

[2020-02-22 11:06] raguay commented on #349
I'm trying to use it, but it just segment faults each time.

On Sat, Feb 22, 2020 at 3:31 AM Lea Anthony <notifications@github.com>
wrote:

[2020-02-22 15:05] konez2k commented on #342
As a temporary workaround, open the inspector and change the websocket URL manually:

[code]

[2020-02-23 04:06] leaanthony commented on #349
If so, please open up a bug report using `wails issue` and we will see what we can do.

[2020-02-23 04:06] #349 closed

[2020-02-23 04:07] leaanthony commented on #345
There's a `-verbose` flag on the `develop` branch now. It will be part of the next pre-release.

[2020-02-23 04:07] #345 closed

[2020-02-23 04:11] leaanthony commented on #345
`v1.0.3-pre1` has the change.

[2020-02-24 12:01] leaanthony commented on #341
Hi @salmi3d - You may be interested in the PR recently raised. We're looking at integrating xgo and it seems to work. We would love you to test if you can!

[2020-02-24 19:44] #333 closed

[2020-02-25 13:26] Virgil-N opened #351 "my wails serve prints log are debug mode"
**Description**

my log' level is debug mode, how can i change it to headless mode

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System Details**

| Name

[2020-02-26 05:27] leaanthony commented on #351
Using the `-loglevel` flag. https://wails.app/guides/debugging/

[2020-02-26 05:27] #351 closed

[2020-02-26 14:11] codenakama commented on #318
@leaanthony let me know how I can help!

[2020-02-27 20:13] leaanthony commented on #338
@mehtaabGill what OS are you targeting?

[2020-02-27 20:14] leaanthony commented on #318
@codenakama cheers. I guess I just need you to confirm that this solution is ok for now? Full TS bindings will require static analysis which is going to be out of scope for v1 (but a possibility for v2!).

[2020-02-27 20:15] leaanthony commented on #302
Have not forgotten about this! I'm guessing the situation is still the same and the traces are still valid?

[2020-02-27 20:20] codenakama commented on #318
This is fine. One of my colleagues is a core contributor to Go and specialises in static analysis so I’ll ask him about it and perhaps he can help me land a PR.

For now it’s good and thanks so much for all the time you dedicated to this problem 🙏🏾

[2020-02-28 22:15] leaanthony commented on #318
That sounds amazing! That particular piece of work would have way more outcomes than just the typescript output! Let's lock it in! 👍

[2020-02-28 22:15] #318 closed

[2020-02-29 13:11] waateekaa commented on #302
Hi,
I just checked out wails version 1.0.2.
And here are the good news. Seems the issue is solved. I did tests on my laptop and on my pc
for the angular, the react and the vue2 app demo. All of them do not consume as much cpu as before. I got values less than 3% cpu usage for the angular and vue version which is very good and about 15% for the react version (blame it to the animation).
I would tre

[2020-02-29 13:11] #302 closed

[2020-03-01 05:36] leaanthony commented on #302
Thanks for letting us know and really glad it's fixed! I think it'll remain
a mystery...

On Sun, 1 Mar 2020, 00:11 waateekaa, <notifications@github.com> wrote:

[2020-03-03 16:16] drharryhe opened #352 "How I can set the application icon"
as the title, i want to replace the default applicatioin shown on the left-top corner of the app with my own icon.
thx

[2020-03-03 19:18] nghtstr opened #353 "eslint 6.x Support"
**Description**
ESLint 6.x support should be included.

**To Reproduce**
The frontend wails bridge is requiring ESLint `5.2.0^`. This is outdated and should be brought up to `6.x` as soon as possible.

[2020-03-03 19:49] leaanthony commented on #352
Not possible currently.  What OS are you targetting?

[2020-03-03 20:40] leaanthony commented on #353
updated. Please test pre release using `wails update -pre`

[2020-03-04 02:48] drharryhe commented on #352
I am working on win10, but target Windows and MacOS

[2020-03-04 18:07] amsanket22 opened #355 "Openlayers does not work with the built mode, it works with dev mode"
**Description**

I am using open layers mapping library, we can move the canvas in dev mode(wails serve & npm run dev) but once I create binary, I am unable to move and pan the map.

I am using Vue JS as a front-end framework, I tried changing the life cycles hooks to initialise the map and even CSS but doesn't work

[2020-03-04 18:07] amsanket22 commented on #355
I am trying this on ubuntu 18.04

[2020-03-04 20:00] leaanthony commented on #355
We, as a project, don't do anything special with canvas, or any part of the DOM. The likelihood is that it's a difference in the way events are handled? If you set up a repo with an example project, we may find some time to look at it for you. Thanks.

[2020-03-05 04:28] drharryhe commented on #352
well, thanks, I will take a try

[2020-03-05 04:41] drharryhe opened #356 "wails build with error: \runtime\assets\bridge.js: The system cannot find the path specified."
I write a demo， it can run well with wails serve/npm run serve.
but when i try to build it to an exe, it fail with the error below:
![image](https://user-images.githubusercontent.com/4024888/75948347-37321080-5ede-11ea-939f-199222bb9382.png)

this  is my project code structure:
![image](https://user-images.githubusercontent.com/4024888/75948418-59c42980-5ede-11ea-9836-c3361a449db0.png)
the topper

[2020-03-05 07:19] leaanthony commented on #356
Hey there. Sorry you're having this issue. I can certainly look at this at the weekend.

[2020-03-05 12:58] drharryhe opened #357 "wails build with error: \runtime\assets\bridge.js: The system cannot find the path specified"
**Description**

I write a demo， it can run well with wails serve/npm run serve.
but when i try to build it to an exe, it fail with the error below:

**To Reproduce**
Steps to reproduce the behaviour:
do wails build on win10

**Expected behaviour**
build exe successfully

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubusercontent.co

[2020-03-05 12:59] drharryhe commented on #356
thanks for quick response. I do wails issue to here https://github.com/wailsapp/wails/issues/357

[2020-03-05 13:05] drharryhe commented on #357
it looks like use wrong context dir when compile  topper\vendor\github.com\wailsapp\wails\cmd\helpers.go. it not use the dir of helpers.go ,but the dir of  main.go

[2020-03-05 13:09] drharryhe commented on #357
this is my main.go
`package main

import (
	"github.com/leaanthony/mewn"
	"github.com/wailsapp/wails"

	"ktop/topper/model"
)

func main() {
	js := mewn.String("./frontend/dist/app.js")
	css := mewn.String("./frontend/dist/app.css")

	app := wails.CreateApp(&wails.AppConfig{
		Width:     1024,
		Height:    768,
		Title:     "Demo",
		JS:        js,
		CSS:       css,
		Colour:    "#990000",
		Resiz

[2020-03-06 09:41] leaanthony commented on #356
Thanks,closing this.

[2020-03-06 09:41] #356 closed

[2020-03-06 09:45] leaanthony commented on #357
Ah so this is specifically when using Wails in the context of a vendor directory? The project is designed to be use as a Go Module and hasn't been designed for use like this. Does it work if you *don't* vendor it?

[2020-03-07 01:44] drharryhe commented on #357
it's interesting. i just use goland open topper as the project, and wails build succeeds. the gomodule config is the same as the my origianl project. the difference between to projects is that ,the first project contains topper(desktop program) and the backend server and the second one just contains topper.

i dont know why but the project does build successfully.

Thanks for your response anyway,

[2020-03-07 12:56] leaanthony commented on #357
I'm glad you found a solution!

On Sat, 7 Mar 2020, 12:44 drharryhe, <notifications@github.com> wrote:

[2020-03-09 09:27] drharryhe commented on #357
the issue happens  again. I found the bridges.js is not present in the project folders as well as the vendor folders.
![image](https://user-images.githubusercontent.com/4024888/76199690-4d680580-622b-11ea-9ba0-369f6a95f2ff.png)

[2020-03-11 17:04] vlourme opened #358 "SelectFile() crash on MacOS"
**Description**

Calling runtime.Dialog.SelectFile() causes a crash of the backend

Crash log:
[code]

**Expected behaviour**
Should open a dialog file correctly.

**System Details**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.0.2 |
| Go Version    | go1.14 |
| Platform      | darwin |
| Arch          | amd64 |
| GO111MODULE   | (Not Set) |
| GCC           | 4.2.1 |
| Npm

[2020-03-12 12:00] leaanthony commented on #358
Selecting files is unsupported in bridge mode but we should handle this better. I'd be interested in the code you used to make this happen.

[2020-03-12 12:02] vlourme commented on #358
Thanks for answering. Could you explain what is Bridge Mode?

For the code, it’s a from JS, I call a structure in Go which as a method that call SelectFile. I need to get a path to the selected file to read it then.

[2020-03-14 12:57] Slixe opened #359 "Panic error in golang"
I'm getting a panic error using Wails:
[code]

[2020-03-15 03:53] leaanthony commented on #359
Please open a new ticket using `walls issue` and supply more information like the code that's causing the error. Thanks.

[2020-03-15 03:53] #359 closed

[2020-03-17 21:50] metacatdud opened #363 "Image use"
Load images other then converting them into base64? I am trying vanilla with `frontend/dist` and `frontend/src` folders
In `dist` i have the `index.html` and `img/image.png`
In `index.html` i havea a simple `<img id="sprite" src="/img/animals.png" alt="">`. I tried every possible path and I can get it to display the image.
Any advice/workaround?

Stack:
- go 1.14
- win 10

[2020-03-18 07:31] zhuqiyun opened #364 "armv5"
support armv5 platform？

[2020-03-18 10:35] leaanthony commented on #363
Hi. We don't support loading files like this as it's seen as a bit of an anti-pattern - you'll end up with a binary that can't be distributed without the relevant images with it. Is that your use case? The goal of the project is to create a single distributable binary. for v2 we are looking at supporting a local file url, like `file://` but I'm unconvinced that would satisfy your use case entirely

[2020-03-18 10:36] leaanthony commented on #363
I should also mention that vanilla isn't really supported like this either, but absolutely is in v2. The reason we built the templates with webpack was so that asset bundling wouldn't be an issue for you.

[2020-03-18 10:39] leaanthony commented on #358
Bridge mode is when you run using `wails serve` Do you have an example of how to make this crash?

[2020-03-18 14:29] metacatdud commented on #363
Thank you! I love this project and I hope people will give it a change. I've been watching it on reddit since its first announce. I want to create a simple quest game wit it :) I seem to pack every thing i need:
- Simple fe <-> be communication
- No enforced patterns
- Light
- Easy to get go even without proper documentation is pretty intuitive  - I think this became a go and gophers thing - to ha

[2020-03-18 14:29] #363 closed

[2020-03-19 07:08] ewener opened #365 "Loading widow"
I'm sorry, my English is not good.

I encountered some problems when using 'wails'. As new styles and pictures are constantly introduced into the front end, the size of CSS and JS is getting larger and larger. When I start the app, there will be a few seconds of blank screen. I guess it's rendering slowly. I want to add a window in the loading process to make the user experience better, but I can'

[2020-03-19 15:44] zhuqiyun opened #366 "rasberry"
how to build for rasberry？

[2020-03-20 07:15] leaanthony commented on #365
Hi. We don't support any pre-rendering, thought it's a good idea. It's unlikely we'll do much about this in V1. In V2 (in development), we store the assets in a completely different way which provides instant rendering on the frontend.

[2020-03-20 08:37] svkior opened #367 "TS Wails.Events.On definition"
**Description**

In typescript there is no possibility to pass parameter for callback according to TS typedef

**To Reproduce**
Steps to reproduce the behaviour:
1. in typescript code:
    Wails.Events.On("info", message => {
		console.log(message);
    });

**Expected behaviour**
Code compiles.

**Screenshots**
<img width="691" alt="Screenshot 2020-03-20 11 36 15" src="https://user-images.githubu

[2020-03-20 20:18] leaanthony commented on #367
Hi. Typescript support is experimental at the moment. What does your typescript definition for the Wails runtime look like?

[2020-03-20 20:19] leaanthony commented on #366
What's your error?

[2020-03-20 20:20] #365 closed

[2020-03-20 20:21] leaanthony commented on #364
What's your error? Have you looked at: https://wails.app/guides/arm/ ?

[2020-03-20 20:22] leaanthony commented on #357
I will look at this today

[2020-03-20 20:25] leaanthony commented on #342
Added this to https://github.com/wailsapp/wails/wiki/Post-V1-Enhancements - closing.

[2020-03-20 20:25] #342 closed

[2020-03-20 20:26] leaanthony commented on #353
Closing due to inactivity.

[2020-03-20 20:26] #353 closed

[2020-03-20 20:27] leaanthony commented on #332
@winwisely99 Did you try it? We could add it to v2.

[2020-03-20 20:28] leaanthony commented on #352
@drharryhe Any updates?

[2020-03-21 00:04] InfRandomness opened #368 "Wails init failing"
**Description**

Wails init command failing when building the frontend of the project

**To Reproduce**
Steps to reproduce the behaviour:
1. Type wails init
2. type any type of project name in any folder of you computer
3. type any output binary name
4. type any project directory
5. Choose ReactJS template
6. let wails create the project

**Expected behaviour**
Wails creating my project successful

[2020-03-21 02:50] leaanthony commented on #368
Thanks for reporting this. Will check today.

[2020-03-21 03:05] leaanthony commented on #368
Cannot reproduce:

![image](https://user-images.githubusercontent.com/1943904/77218199-e75d7580-6b7c-11ea-9388-0b6ed1900d77.png)

Runs fine too:

![image](https://user-images.githubusercontent.com/1943904/77218203-fe03cc80-6b7c-11ea-8751-a69710d8e118.png)

[2020-03-21 03:07] bh90210 commented on #332
webRTC support (or lack thereof on Linux) has to do with webkitgtk and its maintainers, I am afraid.

[2020-03-21 03:15] leaanthony commented on #357
Ok, I can reproduce this and based on time constraints, all i can say is I won't have time to support vendoring. At least, not for v1. If you delete your vendor folder, it will work. I have added vendoring as a ticket for v2 though 👍

[2020-03-21 03:15] #357 closed

[2020-03-21 03:28] leaanthony commented on #367
Ah, I see what's happening.
Nice catch! I've updated the runtime library to `@wailsapp/runtime@1.0.11`. Please upgrade to use this one and let me know how it goes 👍

[2020-03-21 09:54] zhuqiyun commented on #366
no error  ，want to cross compile at windows for rasberry   ，like GOOS=linux    ，GOARCH=arm？

[2020-03-21 09:55] zhuqiyun commented on #338
arm9，linux3.10

[2020-03-21 14:52] InfRandomness commented on #368
I think windows is screwing around, checked on my Linux dual boot and working good. Closing.

[2020-03-21 14:52] #368 closed

[2020-03-22 10:55] leaanthony commented on #366
Try this: https://github.com/wailsapp/wails/pull/347

[2020-03-22 11:00] leaanthony commented on #338
I've added it to the V2 backlog :+1:
Out of interest, how do you think you will move a frameless window?

[2020-03-24 01:27] zhuqiyun commented on #366
thanks  ，i will discuss on that topic

[2020-03-24 10:21] svkior commented on #367
Works Perfect for me.

[2020-03-24 10:21] #367 closed

[2020-03-24 10:41] svkior opened #372 "Concurrent write to WebSocket"
**Description**

Wails crashes during websocket communication

**To Reproduce**

from TS:

[code]

from GoLang

[code]

panic: concurrent write to websocket connection

goroutine 6 [running]:
github.com/gorilla/websocket.(*messageWriter).flushFrame(0xc00011b8b0, 0xc000173401, 0xc0001734b6, 0x0, 0xa, 0x40, 0xc000173480)
        /Users/svkior/go/pkg/mod/github.com/gorilla/websocket@v1.4.0/conn.go:59

[2020-03-24 11:05] leaanthony commented on #372
This is one for @tmclane

[2020-03-24 11:58] tmclane commented on #372
I'll look into it further.  @leaanthony Will you assign it to me please?

[2020-03-24 12:19] tmclane commented on #372
@svkior Would you happen to have a small project that can reproduce this?

[2020-03-24 12:21] tmclane commented on #372
Or if not can you give me more information on which template you used to create your project?

[2020-03-24 12:36] svkior commented on #372
@tmclane I can do a small project for all issues. Please, give me an hour. I created my own template. May be I did it wrong way.

[2020-03-24 12:37] tmclane commented on #372
@svkior No there is definitely a bug here.  I am attempting to reproduce it myself but I thought it might be faster if you gave me a small skeleton that reproduces it.

[2020-03-24 12:46] tmclane commented on #372
One thing I notice wrong with your example TS code up there is:

[code]

[2020-03-24 13:16] tmclane commented on #372
FYI: I have reproduced the issue.

[2020-03-24 13:30] svkior commented on #372
https://github.com/svkior/apprun-wails-boilerplate

[2020-03-24 13:35] svkior commented on #372
Do you need my help to fix it?

[2020-03-24 13:59] tmclane commented on #372
One thing I notice in your code is you are actually running the following code in the Wails callback itself!

[code]

I would recommend you move that elsewhere.  This callback happens after the Wails runtime initializes and is ready so I suppose it should work although it really seems like a bad idea.

Thank you for the sample application.  I'm looking into solutions now.

[2020-03-24 14:03] svkior commented on #372
@tmclane this crash happend even I call it from button onclick event.

There was similar bug in my previous project because gorilla websocket is not thread safe and I had to write thread-safe routines around websocket.

[2020-03-24 14:05] tmclane commented on #372
it has a `sync.Mutex` around the write call already

[2020-03-24 14:07] tmclane commented on #372
If you remove this line I bet the crash goes away:

https://github.com/svkior/apprun-wails-boilerplate/blob/45fe9526ced4fb9df6c925ab4df678bd741d4ca2/wails.go#L31

You are causing the event from the frontend to immediately emit the same event back to the frontend.
Was that your intention?

It still shouldn't crash - so I am looking into how to fix it.

[2020-03-24 14:15] svkior commented on #372
@tmclane I simulate concurrent two way communication for my new project.

It will be control & monitoring system with a lot of params like grafana has. There are ten control stations with the same information and I simulate Control Button Press on one station and return info to all stations.

And I have two separate go routines. This case is the worst case according to my opinion.

[2020-03-24 14:16] svkior commented on #372
@tmclane this Mutex should cover reading and writing together.

[2020-03-24 14:27] tmclane commented on #372
Yes I figured that might be required.  I am working on getting it changed out.

[2020-03-24 15:09] tmclane commented on #372
Opened a PR against your sample project that doesn't crash.
Hopefully it will help you proceed with development while I figure out the right way to correct this issue permanently:

https://github.com/svkior/apprun-wails-boilerplate/pull/1

[2020-03-24 16:00] svkior commented on #372
@tmclane thank You very much.

But if I decrease update time to 100 Milliseconds - it crashes again. Anyway right now during the development I use delay for 1 second.

May be it https://github.com/gorilla/websocket/issues/119 helps

[2020-03-24 16:07] tmclane commented on #372
That issue shows exactly the same method as how the bridge code is written:

[code]

[2020-03-24 16:19] tmclane commented on #372
For the time being use a slightly larger time to do the updates and hopefully that will minimize this from happening until I can fix it permanently.

[2020-03-24 23:40] amelkikh commented on #352
Hi! Could you show your solution?

[2020-03-25 01:44] tmclane commented on #372
FYI: I opened a PR to address this: https://github.com/wailsapp/wails/pull/373

Feel free to try my branch.

Checkout my repository and branch:

[code]

Then edit your project's `go.mod` and add the following line at the end:

[code]

From then on whenever you run `wails serve` in your project directory it will use my fork and branch.

[2020-03-25 10:16] hineH opened #374 "webview has incorrect `window.devicePixelRatio` on Windows(possibly deprecated version?)"
With hidpi screen(3840x2160,250% scale ratio) on Windows , running the demo from `wails init` template got everything very small on the screen.
In your README I seen the webview of this project is driven by https://github.com/zserge/webview , so I tried to use it directly and it worked OK.

Just create a webview and navigate to https://www.whatsmybrowser.org revealed this difference:
![image](http

[2020-03-25 10:17] svkior commented on #372
Works well for me. Thanks a lot. Waiting for Next Version. Should I close the issue, or I need to wait for new release?

[2020-03-25 12:47] svkior commented on #372
@tmclane after around hour of work - backend blocks web socket. And I need to kill the backend.

[2020-03-25 16:24] tmclane commented on #372
odd.. Did you update your example by any chance?

Update your checkout of my repository / branch:

[code]

I bumped the channel capacity to 100.  See if that helps or if it still blocks eventually.

[2020-03-25 16:26] tmclane commented on #372
Any chance you could batch messages? It might help lower the total number of messages needing to be sent / processed.

[2020-03-25 18:17] leaanthony commented on #374
Hi. This is hard as it was originally set for hidpi and multiple monitors but then other people reported too big etc. There was a PR end of last year to update the manifest file for Windows to help with hidp ad it was getting scaled up an blurry. It certainly worked for me. Regarding WebView, we tried to upgrade to it but couldn't because it broke on Mac. We are deprecating Webview as we've had to

[2020-03-26 01:32] tmclane commented on #372
FYI: My PR was merged to develop.  Hopefully that fixes your issue.

[2020-03-26 07:31] qianbin opened #375 "Is that possible to create multiple windows?"
as the title

[2020-03-26 11:22] leaanthony commented on #375
No. Not on the horizon either.

[2020-03-26 11:22] #375 closed

[2020-03-26 12:45] nilopaim opened #376 "Is there some way to capture all keybord events?"
In my application I need to have total control of the keyboard, even the Fn keys.

I'm using the Vuetify standard template.

Is there some way to catch all keyboard events?

EDIT: I don't know why this was marked as BUG, and couldn't find how to change this. Sorry, guys.

[2020-03-26 15:50] tmclane commented on #376
Maybe this will be helpful to you:
https://medium.com/@marin.basic02/sniffing-global-keyboard-events-in-go-e5497e618192

[2020-03-26 22:39] amelkikh commented on #338
Hi!
I'm coding app for Win10.
Please consider this platform too.

[2020-03-26 22:43] amelkikh commented on #332
What are the reasons for this concern?

[2020-03-28 13:52] svkior commented on #372
@tmclane I'll test it on next week.

[2020-03-28 13:52] #372 closed

[2020-03-29 11:24] jurkat opened #378 "How to copy assets to the bundle"
Hello,

i changed the default FE to svelte. Everything woks fine, gerat job!

But now i want to integrate font awesome, so i need to copy the fonts into the bundle because get them from a can is not useful for a desktop app. Is it possible to copy an own asset folder with images, fonts... into the bundle?

I think it should work like integrating the bundle.css/.js by targeting it in the wails.Crea

[2020-03-29 18:42] leaanthony commented on #378
Like the other templates: webpack. Check one of them out and see how fonts are configured there

[2020-04-01 04:21] amelkikh opened #379 "Improve Renderer Webview"
Hi!
I need to eval multiple JS files and where is no way to merge with main.js
I suggest to add map string for that purpose.
If this idea is suitable i can create pull request.
Thank you

[2020-04-01 09:30] leaanthony commented on #379
Hi! Absolutely interested in this. So long as the current templates still work and there's no API change we should be good.

[2020-04-03 23:46] leaanthony commented on #374
The changes I mentioned are in app_windows.go in project root. Does this help you work out your issue?

[2020-04-04 19:18] tmclane opened #380 "Implement Windows application signing"
Example Windows image for signing purposes: https://github.com/StefanScherer/dockerfiles-windows/tree/master/signtool

_Originally posted by @tmclane in https://github.com/wailsapp/wails/pull/377#issuecomment-609076421_

[2020-04-05 13:51] Anth0-M opened #381 "Is your obligation to go through a pre-selected template. (Need information, not bug)"
Hello,

I allow myself to describe to know if we can use

- pure **JS/CSS**
- **[DART](https://dart.dev/)** which compiles in OPTIMIZED JS
-  **[VECTY](https://github.com/gopherjs/vecty)** which allows to write GO and compile in **VANILLA JS** via [GOPHERJS](https://github.com/gopherjs/gopherjs) or **WebAssembly**

instead of templates (Angular, React, vue) ?

Thank you.

[2020-04-06 17:12] dedo1911 commented on #309
Hello everyone,

I'm trying to use react-router using HashRouter as suggested and it works fine in dev (using serve).
But built binary is not working (on Windows, Wails 1.0.2).
As soon as the applications starts and renders <HashRouter> it gets redirected to the page in the following screen (which I think is `about:blank#/` ):

![immagine](https://user-images.githubusercontent.com/1364496/78585631

[2020-04-06 21:54] miolini opened #382 "Add output flags to build command line action"
I would be happy if build action will have output flags (output directory and binary name overridings) to specify output path of compiled application. It will be useful for the CI/CD.

[2020-04-06 22:19] miolini commented on #382
I have create PR
https://github.com/wailsapp/wails/pull/383

[2020-04-07 10:46] octavonu opened #384 "wails dev newtemplate"
Hello Wails Team,

the wails dev newtemplate command is creating only the folder for template and the template.json.
Am I doing something wrong?
I am running go v1.4

Wails v1.0.2 - Generating new project template

? Please enter the name of your template (eg: React/Webpack Basic): UI5
? Please enter a short description for the template (eg: React with Webpack 4): UI5
? Please enter a long descrip

[2020-04-07 10:55] #384 closed

[2020-04-08 10:09] leaanthony commented on #381
You can provide whatever you like so long as it's a js + css file. The templates are there to make life a bit easier and pack all the assets into these files so you don't have portability issues. Good luck!

[2020-04-08 10:09] #381 closed

[2020-04-08 10:10] leaanthony commented on #382
We should bundle this as part of #377 - Though I do think it should be a single flag. @tmclane ?

[2020-04-08 10:11] leaanthony commented on #378
Can this be closed?

[2020-04-09 00:05] AddictArts commented on #352
I've done this on Mac and Windows.

Mac

`replace appicon.png with your desired image`

Windows

`replace <appname>.ico with your desired icon`

In both cases rebuild the app `wails build -p` after your first build.

[2020-04-09 00:34] AddictArts opened #385 "Add documentation for contributing and testing builds"
Hi, I'm interested in building it locally from a git clone. The docs mention building the command line wails executable, but that is not the entire app.

I understand creating a branch off dev and pull requests, However:

Do, contributors change their $GOPATH/src/github.com/wailsapp/wails source? checkout develop there, checkout branch, and build what?

How do you build the runtime, things in lib?

[2020-04-09 05:41] jurkat commented on #378
Sorry, yes can be closed. Thank you!

[2020-04-09 10:59] fallion commented on #385
Wails uses go modules. So you should be able to clone it anywhere and run `go mod download`. Just my 2 cents.

[2020-04-09 12:27] tmclane commented on #385
Yes all the usual Go tricks apply and work.
I like to add a `replace` line to the bottom of the project's go.mod to ensure it uses my updated copy if I am testing an addition/fix to the Wails source.

    replace github.com/wailsapp/wails => /home/tmclane/go/src/github.com/wailsapp/wails

[2020-04-09 12:29] tmclane commented on #385
You are welcome to checkout your fork to wherever makes sense as well.

[2020-04-09 22:33] leaanthony commented on #385
Thanks for asking the question @AddictArts! Based on your feedback, it seems like we need to update [this page](https://wails.app/development/) to answer these kinds of questions. I'll see if I can get this done over the long weekend. Thanks.

[2020-04-09 22:33] #378 closed

[2020-04-09 22:34] leaanthony commented on #376
Can this be closed?

[2020-04-09 23:53] AddictArts commented on #385
@leaanthony Yes that would be fantastic.

First I am relatively new to go, so there seems to be some embedded knowledge from months to years of working with github go code that is not written down.

@fallion Thanks, but I can tell that it isn't really doing anything useful if you've already run wails, or compiled the cmd/wails main.go.

What I can't see is how, say I made changes to /runtime, or /

[2020-04-09 23:53] AddictArts commented on #385
PS: You have a /scripts but it has to build files build.sh and build.go, they both seem to be equivalent. Thanks for all the help. Cheers

[2020-04-16 09:33] chenxun450 commented on #338
It hard to move a browser without its title...
How should we overwrite the Mouse Event like Qt

[2020-04-16 12:45] leaanthony commented on #338
By allowing you to specify any elements that allow moving via a special attribute.

[2020-04-17 20:58] InfRandomness opened #386 "Angular questions"
I am using wails with Angular and I followed the guides on api references / guides on the website but at some point in your frontend, you make usage of the "backend"(window.backend) and the "wails"(window.wails) properties, I cannot seem to find that property on with angular, could you indicate me what the right property is ? Thanks

[2020-04-17 21:40] Gohryt opened #387 "Support Distribution 'Solus'"
**Description**
Distribution 'solus' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.0.2 |
| Go Version    | go1.14.2 |
| Platform      | linux |
| Arch          | amd64 |
| GO111MODULE   | (Not Set) |
| Distribution ID   | solus |
| Distribution Name   | Solus |
| Distribution Version   | 4.1 |

*Please add any extra information here,

[2020-04-18 08:18] ndoubismarck opened #388 "Error: flag provided but not defined: -ldflags"
**Description**
I am trying to build a Wails Windows executable on MacOS using the following command `env GOOS=windows GOARCH=386 CC=i686-w64-mingw32-gcc CGO_ENABLED=1 wails build -ldflags -H=windowsgui` or `env GOOS=windows GOARCH=386 CC=i686-w64-mingw32-gcc CGO_ENABLED=1 wails build -ldflags="-H windowsgui"` and I am getting this error `Error: flag provided but not defined: -ldflags`. Building w

[2020-04-18 09:39] leaanthony commented on #388
Hi. We don't support this in this way, although if you look at the PRs, we have a solution in the pipeline 👍

[2020-04-18 09:41] leaanthony commented on #387
Can you please provide more information like is Solus based on an existing distro?

[2020-04-18 09:42] leaanthony commented on #386
Hi. This is in the docs though perhaps a bit subtle. These have nothing to do with Angular. window.wails is the JS Wails runtime and window.backend has all your Go sturcts and methods. I'd recommend going through the Todo tutorial.

[2020-04-18 09:44] leaanthony commented on #385
Hi. Haven't forgotten about this. Docs are hard 😃

[2020-04-18 09:51] ndoubismarck commented on #388
Okay, thanks. But in the meantime, how can I disable the Windows console which pops up alongside the wails application window?

[2020-04-18 18:42] InfRandomness commented on #386
Yeah, I went through and I verified everything, the problem is that angular does not recognize the property "backend", so it refuses to compile

[code]

[2020-04-18 21:53] leaanthony commented on #386
Does the default project work for you?

[2020-04-18 21:55] InfRandomness commented on #386
If I init a project with the "wails init" command / configure it with angular, cd into the dir and execute "wails build" and execute the binary, everything runs yeah

[2020-04-19 08:12] alinangnaiba opened #389 "Error in serving frontend after build -p"
**Description**

After packaging the application I get an error when running npm run serve the frontend. Looking at the Sources tab the issue is from this line window.wails._.Init(callback);

**To Reproduce**
Steps to reproduce the behaviour:
1. Run `wails build -p`
2. Run `npm run serve` in frontend directory
3. In the browser go to `localhost:8080` or where ever your app is running
4. Open dev t

[2020-04-19 09:02] leaanthony commented on #389
Serve isn't for packaged apps. Only package them when you're ready to distribute them. Does it work for you without the -p?

[2020-04-19 09:05] leaanthony commented on #388
If you don't want to use the cross compile branch then the only option currently is compile it on windows.

[2020-04-19 09:09] alinangnaiba commented on #389
No, I wanted to make additional functionality in the app after it is packaged. I want to add code and run serve again

[2020-04-19 09:19] alinangnaiba commented on #389
Ok, so I tried creating a new app with wails init, this time I chose the vuetify template. I get the same error. It's the first time I ran npm run serve and I have not edited the code.

[2020-04-19 09:45] alinangnaiba commented on #389
I figured what happened. Thanks!

[2020-04-19 09:46] #389 closed

[2020-04-19 10:06] Jarek-SRT opened #390 "Support openSUSE Linux distributions"
I would like to add support for both [openSUSE](https://www.opensuse.org/) distributions: Leap and Tumbleweed.

I will follow [this excellent guide](https://wails.app/guides/distro/) and submit PR.

[2020-04-19 10:31] Jarek-SRT commented on #390
Created pull request: https://github.com/wailsapp/wails/pull/391

[2020-04-19 20:28] leaanthony commented on #386
I'm not sure I can answer your question then. Either `window` or `window.backend` is getting overwritten or your project has been configured in a way that doesn't include the wails runtime.

[2020-04-19 22:44] SGarno opened #392 "Recommended approach for OAuth2 style callbacks"
I am writing an application which connects to a data provider using OAuth2.   Part of the authentication process is to register in advance with the data provider a callback url.   Once this is registered, a request is made to get a token.

I plan on doing request in Go, but I need to render the HTML/JavaScript that is returned (confirmation screen) from the authorization request along with handlin

[2020-04-21 03:23] lijingbo8119 opened #393 "Need more methods to interact window"
Is it possible to add more methods to interact window?
Like ‘MinimizeWindow’, 'HideWindow', 'VisibleWindow'. That would be very helpful.
Great work by the way!

[2020-04-21 05:52] SGarno opened #394 "Wails Quasar runs in serve but not in build"
**Description**

After applying vue add Quasar to new Wails project frontend, the application displays properly in npm run serve but when built, nothing shows.   Quasar is a vue plugin.

**To Reproduce**
Steps to reproduce the behaviour:

Install Vue/CLI and [Quasar](https://quasar.dev/)

- wails init myProj
- cd myProj\frontend
- vue add quasar

within frontend, `npm run serve` displays the appli

[2020-04-21 12:14] yykpf opened #395 "Support Distribution Unknown"
系统版本：
![image](https://user-images.githubusercontent.com/14089155/79864506-272dac00-840c-11ea-824c-7307ff426dd1.png)
错误信息：
![image](https://user-images.githubusercontent.com/14089155/79864796-a4592100-840c-11ea-94d2-df2854c2e650.png)

[2020-04-21 23:37] madlybong opened #396 "Angular Template AppRoute not working"
While "wails serve" everything is working fine.
But after successful "wails build" / "wails build -d" routing is not working ... (No error in debugger)

**app.module.ts**
`import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';

import { AppRoutingModule, routes } from './app-routing.module';
import { AppComponent } from './app.component';

import { APP

[2020-04-22 00:23] SGarno commented on #394
I have made some progress and close to having a Quasar template for Wails...but I am stuck now and not sure how to debug this.

I have been able to determine that the quasar components and the CSS is being properly loaded into the app.   But I am still getting nothing rendered inside any components.    I do see things being rendered outside of a component.

[code]

The H5 gets displayed, but anyth

[2020-04-23 10:02] leaanthony commented on #396
Can't help specifically with Angular routing but routing in Vue was solved by [this person](https://github.com/wailsapp/wails/issues/236#issuecomment-532741700). Perhaps it's a similar fix?

[2020-04-23 10:08] leaanthony commented on #394
Hey thanks for the effort in trying to solve this. I have no experience with Quasar. Is the issue that the Quasar library itself isn't getting included in the generated bundle? Also, FYI: run your app with `-loglevel debug` to get spam-level output to the console. Unfortunately mshtml doesn't come with a debug window though i did try to hack one together which you should be able to access via `SHI

[2020-04-23 10:09] leaanthony commented on #393
Thanks for the request. We will look to get this in V2.

[2020-04-23 10:11] leaanthony commented on #393
In V2 backlog.

[2020-04-23 10:11] #393 closed

[2020-04-23 10:17] leaanthony commented on #392
This was discussed on the slack channel a while back. Technically, you can do anything you like as you have the power of using what you want for the frontend or the backend. I think the recommended way when it was discussed was to open a separate http server in your backend that could be used to do the oauth. You can certainly open a new browser window using the Wails runtime. Perhaps try this? Pl

[2020-04-23 10:20] pachapman commented on #392
I have done this where I set up the app to use the http server and listen to localhost.  I then opened up a webview window pointed to localhost.  The webview window has all the standard javascript for Auth0 login.  Once login is complete, page in webview, hosted by the go app passes the token to the app through a restful call to localhost.  Once that is done, app shuts down the web server and webv

[2020-04-23 17:57] SGarno commented on #392
Thanks!   That makes sense.   I hate opening up a server because you don't know if the ports can be used, and because you have to register it in advance, it is not like you can just assign one.    May I suggest making that available on github?  :)

[2020-04-23 18:14] SGarno commented on #394
Quasar is indeed getting instantiated.  It uses $q, so in the Vue template I have $q.Version and it displays properly.   There is one thing that happens during the webpack....perhaps this is the issue:

[code]

As for loglevel....it doesn't seem to output anything different than the normal debug build (compiled using wails build -d).   Is this flag for the compiled app or wails?

I cannot seem to

[2020-04-23 18:35] pachapman commented on #392
The good news is that you can chose which port to listen to, which is required since you have to tell Auth0 what host and port to expect.  You only keep it open just long enough to get authentication, then you shut it down.   Your risk isn't zero, but it is small.  I've been meaning to put an example together on this.  I'll put something together today, make it available to you and maybe ask the W

[2020-04-23 18:41] SGarno commented on #392
Trying to be seamless....but OAuth2 isn't a seamless workflow in terms of getting new tokens and such.   Ah well.

Thanks for posting.   I think it would be a great example!    [%]D  --- have a virtual beer on me.  ;)

[2020-04-25 02:05] dedo1911 opened #397 "Generate .ico files for Windows builds"
**Description**

After running `wails build -p` it successfully generates icon resources to edit (appname.ico) but this file gets deleted running `wails build` (without -p) or `wails serve`.

This appears to be happening for Windows resources only. macOS appicon.png is not being deleted.

Involved resources:
`appname.rc`
`appname.ico`
`appname.exe.manifest`
`appname-res.syso`

**To Reproduce**
Ste

[2020-04-25 21:14] leaanthony commented on #397
This is working as intended. Originally the thought was just to keep the project clean. What's the scenario where this is causing a problem for you?

[2020-04-25 21:15] leaanthony commented on #392
Thanks @pachapman for your insights into this. @SGarno can this be closed now?

[2020-04-25 21:22] leaanthony commented on #394
It's a flag for the compiled app in debug mode. There's been a number of updates to the `-pre` branches - perhaps try it? You can try it using `wails update -pre` and if you want to revert just run `wails update`. Shift-Esc should work but....windows is hard.

The thing to remember is that the WebView used for rendering content in the compiled apps is not a full browser. Some libraries will use fe

[2020-04-25 21:22] #366 closed

[2020-04-26 08:56] #358 closed

[2020-04-26 08:57] #364 closed

[2020-04-26 08:58] leaanthony commented on #389
what happened?

[2020-04-26 09:04] leaanthony commented on #385
I've updated https://wails.app/development/ - could you let me know ifthere's anything else you think should be added? Thanks.

[2020-04-26 09:11] alinangnaiba commented on #389
A user error. Backend was not running and I forgot to comment out Wails.Init(). :)

[2020-04-26 12:27] dedo1911 commented on #397
The issue is that .ico file is always the stock wails icon and is not being generated from appicon.png

This means that every time i need to manually add the .ico resource to the root of the project as it’s not being kept or correctly generated.

[2020-04-26 20:05] leaanthony commented on #389
you shouldn't need to comment out wails.Init. If it doesn't work without commenting it out, please reopen this.

[2020-04-26 20:07] leaanthony commented on #397
The ICO file absolutely should ve generated from the PNG. If that isn't the case, it's a bug.

[2020-04-26 20:47] #355 closed

[2020-04-27 00:13] SGarno commented on #392
Yes.  Thank you!

[2020-04-27 00:13] #392 closed

[2020-04-27 00:54] SGarno commented on #394
Ok, I went ahead and created a linux vm to try this there and see if I can get a console up and running (via Shift-Esc) and debug the issue.   I ran into a number of problems including the wails command line app doesn't compile.    (should I log these issues separately?)

The short of it is, I finally got wails to build and run.   I performed a wails init using the basic Vue app and it comes up bl

[2020-04-27 04:27] zhuqiyun opened #398 "ubuntu18.04"
zhu@zhu-TM1703:~/go-dev/test1$ wails build
Wails v1.5.0 - Building Application

✓ Skipped frontend dependencies (-f to force rebuild)
✓ Building frontend...
⣻ Ensuring Dependencies are up to date...# pkg-config --cflags  -- gtk+-3.0 webkit2gtk-4.0
Package gtk+-3.0 was not found in the pkg-config search path.
Perhaps you should add the directory containing `gtk+-3.0.pc'
to the PKG_CONFIG_PATH envir

[2020-04-27 04:29] zhuqiyun commented on #398
when exute "wails build", output  above error

[2020-04-27 08:18] dedo1911 commented on #397
Ok I've tried once more and I've modified **only** `appicon.png`
The result is the same:
macOS → builds are working correctly. appicon.png is being used correctly and .app folders display the correct icon.

Windows → builds generate the ico file from scratch using the default one if none is present, instead of generating it from appicon.png.

To get a correct Windows package I would need to manual

[2020-04-27 09:26] #390 closed

[2020-04-27 09:34] leaanthony commented on #397
nice catch. I really thought we were generating the ICO file. This absolutely should be happening. Thanks for raising it.

[2020-04-27 10:12] leaanthony commented on #394
I'm amazed you've had so many issues, which is unusual. 1.5.0 is the latest so you won't get any pre-release updates. Editing the version.go will not do anything except give you errors.

Was your original compile issue similar to this: https://github.com/wailsapp/wails/issues/398?

[2020-04-27 15:23] tmclane commented on #398
You need to install the relevant packages to your system.

Is this ubuntu/debian?

[code]

[2020-04-27 19:58] leaanthony commented on #394
I appreciate you spending time looking at this. potentially it is a clash with the #app div. Officially we only support the supplied templates for this reason: we can't test every combination of js frameworks and libs. That being said, if you upload an example project demonstrating your issue then we may be able to look at it. It would be good to add to our templates.

Regarding slow start ups, th

[2020-04-27 20:07] SGarno commented on #394
It is very simple to reproduce.    Assuming you have @vue/cli installed, then from the command line:

- wails init (use Vue template)
- cd frontend
- vue add quasar

That's it.

BTW:  I really love what you have done here...it is what I have been hoping for:  A modern UI onto a performant backend that is distributed as a single multi-platform binary.   (could that be utopia?? :)

[2020-04-27 20:42] SGarno commented on #394
One comment on the above....that is the way to simply track down what the issue might be; as it just modifies the existing app with the quasar plugins into Vue.

But, if you can help me get to the root cause and get it to work, I would like to try to create a wails template that is built off of using the Quasar CLI (if possible).   Ideally, one that can take the output of the Quasar CLI and just d

[2020-04-28 09:41] leaanthony commented on #394
I believe @bh90210 took a similar approach to the Angular CLI. You might want to check that out. I'll have a look at it, however that's not likely to be until at least this weekend. But I *will* look at it when I can.

[2020-04-28 13:21] SGarno commented on #394
Most appreciated and thank you!!

[2020-04-28 14:07] svkior opened #399 "How to run two different wails serve applications on one host?"
**Description**

I want to develop two difference GUI apps at the same time. but wails uses one port for brige interface

**To Reproduce**
Steps to reproduce the behaviour:
1. Run wails serve on first folder
2. Run wails serve on second folder
3. Bind address already in use error occurs

**Expected behaviour**
Standard environment

**Screenshots**

**System Details**

| Name   | Value |
| ----- |

[2020-04-28 14:35] tmclane commented on #399
This isn't currently possible without editing the source.

[2020-04-30 05:20] bh90210 commented on #394
hey @SGarno I am sure it is possible albeit tedious.

The whole process of maintaining custom cli forks makes it really hard to justify doing it while v2 address these kinds of issues and enable all such CLIs use natively. (if I have understood the design right  :-p)

[2020-04-30 05:25] bh90210 commented on #399
@tmclane @leaanthony
having wails server check for port and if in use simply +1 from go is trivial and useful.
Is there an *easy* way for the js part to follow the right port?

[2020-04-30 13:49] alex-zissis opened #400 "Expose Hint from Webview to allow for finer window control"
**Description**
Webview allows you to set a `Hint` which allows to control window resizing. The hint will change the dimensions you pass to the window to make them either maximum, minimum, none (default behaviour) or fixed.

It would be great if this could be exposed in Wails. I want to set a minimum size for my app but allow users to make it larger if they please. I currently use `Resizable=true`

[2020-04-30 15:08] SGarno commented on #394
@bh90210 Where did you get the information on v2?    I read Post V1 Enhancements but didn't see anything specific about what would be coming to enable other CLIs to be used.

What I was hoping to do was find out what is needed to make Quasar work in Wails, then figure out how to bridge the gap between what is needed and what is provided by the Quasar CLI.    Perhaps go the other direction and make

[2020-05-01 07:15] gauravbombatkar opened #401 "wails init"
#####################################################
     If you have a technical issue, please do not open a bug this way!
                      Please use the `wails issue` command!
#####################################################

**Description**
I started to generate a new project using the wails init command. It takes a very long time to generate a new project. But the project did not c

[2020-05-01 12:24] leaanthony commented on #399
That's a great idea. Not sure of the use case but why not. Trivia #1 it's Wails 1St open source birthday. Trivia #2 the websockets port is "wails" with a sideways w

[2020-05-01 12:26] leaanthony commented on #400
Hi! If this is available in WebView we can do it. It's absolutely going to be part of V2

[2020-05-01 12:29] leaanthony commented on #394
I can speak to this. V2 has been evolvinflg from some experiments in my private repo so it kinda non public right now. It would be good to understand how you would solve this and what yourideal outcome would be and we can try to kick that goal 😃

[2020-05-01 12:31] leaanthony commented on #401
Please make a video with what you see and what gets created. Almost certainly this is an internet connection issue

[2020-05-01 12:53] tinhtruong opened #402 "Support React with Typescript for frontend"
**Description**

It would be great if I can use Typescript for my React application instead of Javascript

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**S

[2020-05-01 23:03] leaanthony commented on #402
Feel free to use whatever you like for the frontend - Wails is not constraining you. Just make sure that you generate your js and css bundles in the same directory as default.

[2020-05-01 23:03] #402 closed

[2020-05-02 01:09] AddictArts commented on #385
Worked beautifully. I was kinda getting it, after the comments here. Understanding the command as a program, being separate from the code your app builds with, was at first disorienting. This as someone new to go. Thanks again and hopefully a pull request will follow, code is forked. Cheers

[2020-05-02 03:36] alex-zissis commented on #400
Perfect thank you :)

[2020-05-02 11:44] bh90210 commented on #401
It has been reported before #368 #289 are the ones that are somehow most related to the above and yes I too agree it seems like an internet connection problem.

Maybe we should address this in docs somewhere, for windows users, as a common bug/error/pitfall? (looking at init related issues it seems there are two broad categories. On linux usually either libraries missing or -while wails was younge

[2020-05-02 11:55] bh90210 commented on #382
did that flag made it to #377 after all?

a single flag sound neater to me too :+1:

[2020-05-02 17:14] InfRandomness commented on #386
it somehow doesn't work, I don't know what to do.

[2020-05-02 17:14] #386 closed

[2020-05-03 00:18] #332 closed

[2020-05-03 12:20] zhuqiyun opened #403 "how to remove "titlebar""
#####################################################
     If you have a technical issue, please do not open a bug this way!
                      Please use the `wails issue` command!
#####################################################

**Description**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scr

[2020-05-03 23:46] dedo1911 commented on #403
If you're looking to create a borderless/frameless window, this is not (yet) possible.

[2020-05-03 23:53] dedo1911 opened #404 "Page refresh F5"
Hello everyone.
I've just noticed that F5 reloads the page and breaks everything.
I've tried capturing the even on document keyup/keydown/keypress, none worked.

Is there a solution to avoid page refresh already or a way to completely disable it from webview itself?

Thanks in advance!

[2020-05-04 08:56] leaanthony commented on #404
Great question! What OS etc?

[2020-05-04 09:30] dedo1911 commented on #404
Looks like Windows only.

I've tried also macOS and Linux (Ubuntu 20.04) and I wasn't able to refresh the page (F5 or ctrl/cmd+R)

[2020-05-04 10:59] leaanthony commented on #404
Ultimately,  it's down to webview. We are replacing it for v2. Would gladly accept a PR to prevent this in out Webview fork

[2020-05-04 11:59] vicsnow opened #405 "Is there any way to "unsubscribe" from an event?"
**Description**
I am running a project, having **appRun** as frontend.
There are two containers, I switch between, and both receive different events.

So I do `Wails.Events.On`  when I _mount_ the component
And it seems, that I need to unsub or ignore other component's events on _unmount_
So, like the title says, is there any way to **"unsubscribe"** from an event?
Or I just need to have some addi

[2020-05-04 21:47] olinord commented on #352
I also have this issue, by following the instructions given with the `wails build -p` I was able to change the icon of the .exe file.

However it did not change the icon in the window frame (of the application when it os run), that is the top left corner of the window frame. Is there any way of making that possible?
I’m running windows with Wails 1.0.2.

[2020-05-05 19:38] leaanthony commented on #405
There currently isn't an unsubscribe feature but there probably should be. In your particular case, it sounds like you just need to ignore data2 events when data1 is mounted. If that's really what you want to do then potentially your listener can just test to see which component is mounted and ignore events for the hidden container. I guess I don't get why both containers are listening to each oth

[2020-05-05 20:01] leaanthony commented on #404
Looked briefly at this. It looks like we could just test the key being handled here: https://github.com/wailsapp/wails/blob/master/lib/renderer/webview/webview.h#L1489-L1523
Something like:
[code]

If you want this done quickly, I'd suggest playing with this and raising a PR.

[2020-05-05 20:03] leaanthony commented on #403
If you're requesting this: https://github.com/wailsapp/wails/issues/338 please close and track that ticket. If not, then please clarify.

[2020-05-05 20:04] leaanthony commented on #401
100% of the time I'm unable to reproduce this behaviour.

[2020-05-05 20:09] leaanthony opened #406 "FEEDBACK REQUESTED: Target Platforms"
In the absence of telemetry for Wails, I'd like to get feedback on target platforms. We did this about 9 months ago so would like a refresh.

Please reply with your target OSes (can be multiple).

Thank you!

[2020-05-05 20:31] masterdubs commented on #406
OSX - Windows -Linux and mobile when possible ( IOS & Android ).

[2020-05-05 21:03] nilopaim commented on #406
Windows. Linux and mobile in a distant future (maybe next year).

[2020-05-05 21:15] leaanthony commented on #399
Created a branch: https://github.com/wailsapp/wails/tree/399---Add-serve-port-flag
This seems to work with one weird side-effect: specifying a port other than 34115 results in a delay during connection. @tmclane - any thoughts?

[2020-05-05 22:08] dedo1911 commented on #406
Windows, Linux, and macOS

[2020-05-06 01:52] tmclane commented on #406
RaspberryPi (Linux), Windows, Linux (in general), OS X

[2020-05-06 04:06] bh90210 commented on #406
Ubuntu

[2020-05-07 10:56] vicsnow commented on #405
Yea, okay, testing to see which component is mounted sounds like a reasonable solution. And that is an optimization anyways

[2020-05-08 08:37] lukeholder commented on #406
linux, macos and windows

[2020-05-08 10:16] dedo1911 commented on #404
I've tested a local version with your suggested modification and works properly.
I'm not in a rush to PR it, but please try to include it in a future release if possible.
Thank you!

[2020-05-08 12:20] leaanthony commented on #404
So that code worked as is?

[2020-05-08 13:26] dedo1911 commented on #404
Yes. I've just copy-pasted

[2020-05-08 13:35] #379 closed

[2020-05-08 23:28] dedo1911 opened #408 "1.5.0 serve not working"
**Description**
I'm having issues with serve command. It's just trying to launch last built executable instead.

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. wails init (and select anything, it doesn't matter)
2. wails serve

**Expected behaviour**
Wait for the frontend to connects.
1.0.3-pre2 was working fine.

**System Details**

| Name   | Value |
| ----- | ----- |
| Wails Vers

[2020-05-09 20:32] minaandrawos commented on #408
Having same issue

[2020-05-10 07:51] mattLLVW commented on #395
The issue is that there's no `/etc/os-release` in CentOS 6.10 which is how Wails determine distro infos.
The only sure way to get the needed infos is to parse `/etc/system-release` which looks like this:

[code]

[2020-05-10 09:23] leaanthony commented on #408
Thanks for the report. @minaandrawos Windows too?

[2020-05-10 13:04] bh90210 commented on #395
indeed centos doesn't have `/etc/os-release` https://linuxconfig.org/how-to-check-centos-version

a simple way around it, haven't tested it though, as the article suggests is querying release info like this `cat /etc/*elease`
it works on ubuntu, if someone can test on centos as well that'd be great :)

[2020-05-10 19:27] minaandrawos commented on #408
Yes

[2020-05-11 03:28] #374 closed

[2020-05-11 11:04] masterdubs commented on #340
Is there any planned date for this implementation?  IE11 is so full of bug :)

[2020-05-11 11:07] masterdubs opened #409 "edgeHTML or chromium support"
Any date plan for edgeHTML or chromium support?

[2020-05-11 13:54] leaanthony commented on #409
V2 for sure. Hopefully.by then, chromium will be the default on windows 10 and we just target that!

[2020-05-11 13:54] #409 closed

[2020-05-11 13:57] masterdubs commented on #409
Perfect 👍  . When do you plan the V2 ?

[2020-05-11 14:01] leaanthony commented on #409
WIP 😃 Linux pretty close.

[2020-05-11 15:16] masterdubs commented on #408
Looks like the cross-platform build is broken at the same time.

[2020-05-11 16:29] grvlle opened #410 "Support Distribution 'ArchLabs'"
**Description**
Distribution 'ArchLabs' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.5.0 |
| Go Version    | go1.14.1 |
| Platform      | linux |
| Arch          | amd64 |
| GO111MODULE   | on |
| Distribution ID   | ArchLabs |
| Distribution Name   | ArchLabs |
| Distribution Version   | 2019.10.29 |

*Please add any extra informati

[2020-05-11 20:59] #380 closed

[2020-05-12 06:17] Lyimmi commented on #406
Linux, RaspberryPi (Linux), Windows

[2020-05-12 06:41] svkior opened #411 "Unable build wails application if go.mod is located not in the same directory"
**Description**

I have big project with structure

`MainForderWithGoMod/projectlib/cmd/projectMain`

my go.mod is located in MainForderWithGoMod

**To Reproduce**
Steps to reproduce the behaviour:
1. cd MainForderWithGoMod/projectlib/cmd/projectMain
2. wails build
3. See error:

`
Wails v1.5.0 - Building Application

✓ Skipped frontend dependencies (-f to force rebuild)
✓ Building frontend...
✓ E

[2020-05-12 15:13] zhuqiyun opened #412 "win10 docker cross-compile"
this is compile result:

Wails v1.5.0 - Building Application

Awesome! Project 'gateway' built!

question:    can't find image，where ？

[2020-05-13 01:01] tmclane commented on #412
The image is pulled from docker hub.
https://hub.docker.com/r/wailsapp/xgo

[2020-05-13 01:05] tmclane commented on #411
The `go.mod` file should be in the root of your project which is the normal location for a `go.mod` file.

If there is no `main.go` file in the root of the project this error can occur.
One workaround is to place a file named `main.go` or something else in the root and to simply import the private package containing your application in that file.  You can keep all your logic elsewhere but the curr

[2020-05-13 01:31] leaanthony commented on #412
The compiled binary is built in the build directory in the project root

[2020-05-13 02:04] leaanthony commented on #411
Do you have an example repo that reproduces this problem?

[2020-05-13 09:09] svkior commented on #411
@tmclane  - OK. I see.
I'll check this solution in two days, and answer. I think I'll make example for this issue with private repo

[2020-05-13 09:11] svkior commented on #399
@leaanthony - I'll check this branch today

[2020-05-14 15:57] zhuqiyun commented on #412
1、when compile on ubuntu  ，i really got the bin img in the project root /build。
2、another hand，when on windows10  ，the compile message said success，but i have not got bin in build directory。

[2020-05-15 19:21] tmclane commented on #411
Here's an example project:

https://github.com/tmclane/wails-private

[2020-05-15 21:05] leaanthony commented on #399
How did you go @svkior ?

[2020-05-15 21:23] leaanthony commented on #404
This is now available in the latest pre-release: `wails update -pre` to get it!

[2020-05-16 03:33] tea4go opened #413 "Support Distribution 'Deepin'"
**Description**
Distribution 'Deepin' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.5.0 |
| Go Version    | go1.14 |
| Platform      | linux |
| Arch          | amd64 |
| GO111MODULE   | (Not Set) |
| Distribution ID   | Deepin |
| Distribution Name   | Deepin |
| Distribution Version   | 20 Beta |

*Please add any extra information h

[2020-05-16 15:02] pedzed opened #414 "wails serve is too slow"
This is more of a feeling/frustration thing than a real bug. It works fine, but it can always be quicker.

When running `wails serve`, the first message you get is

Can that check be reduced to a week or so? It takes quite some time and it checks every single time you run `wails serve`.

Maybe there are also other things that slow it down and it would be great if that would be optimized.

[2020-05-16 15:03] pedzed commented on #414
(I cannot manage labels, otherwise I would have removed 'bug')

[2020-05-16 15:09] pedzed commented on #406
In the following order:
1. Linux (Ubuntu)
1. Windows
1. macOS
1. Web browser (Chrome OS?)

[2020-05-16 18:33] pedzed opened #415 "`wails serve` not shutting down after waking computer up from sleep"
**Description**
After running `wails serve` for some time, it is not possible to quit it (or it takes extremely long?) using `CTRL+C`.

**To Reproduce**
1. Run `wail serve`
1. ~Develop for a while~
1. Put your computer to sleep and then awake
1. Try to quit using `CTRL+C`

**Expected behaviour**
The program should quit within 5 seconds.

**System Details**

| Name   | Value |
| ----- | ----- |
| W

[2020-05-16 20:21] leaanthony commented on #412
<img width="487" alt="wails build" src="https://user-images.githubusercontent.com/1943904/82129481-1d088e80-97bb-11ea-88cd-9e0350c240b2.png">

[2020-05-16 20:25] leaanthony commented on #414
Please open a ticket using `wails issue` and provide more details - this gives us nothing to help you with.

[2020-05-16 20:25] #414 closed

[2020-05-16 20:26] leaanthony commented on #415
Is your project online so we can look at it?

[2020-05-16 23:32] pedzed commented on #414
Copying from my other issue, is this what you were looking for?

**System Details**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.5.0 |
| Go Version    | go1.14.2 |
| Platform      | darwin (macOS) |
| Arch          | amd64 |
| GO111MODULE   | on |
| GCC           | 4.2.1 |
| Npm           | 6.14.5 |
| Node          | v14.2.0 |

It's a fresh project and I haven't really done anything

[2020-05-16 23:39] pedzed commented on #415
Whether the code is open source? No, but I am planning on open sourcing it after it comes close to an alpha stage. I have invited you to the repo. If others would like to chime in, you're welcome to be my guest.

[2020-05-16 23:46] pedzed commented on #415
For the sake of this issue, I tried reproducing it and my gut feeling was right: it is (100% of the times) reproducible if the computer is put asleep and then turned on again.

This time however, I see that there is a broken pipe in the end:
[code]

`wails serve`-ing again after forcefully exiting makes it normally exitable again. When the computer is put asleep and then gets turned on, it hangs a

[2020-05-17 01:30] #376 closed

[2020-05-17 09:25] leaanthony commented on #408
@masterdubs - in what way? I tried it yesterday and it was fine: https://github.com/wailsapp/wails/issues/412

[2020-05-17 09:27] leaanthony commented on #408
@dedo1911 - does the built binary exist anywhere? Like project root?

[2020-05-17 09:40] leaanthony commented on #410
Is this essentially Arch?

[2020-05-17 09:58] grvlle commented on #410
Hey @leaanthony,

It absolutely is. So I believe there's already support, but the CLI tool is getting caught up on the distro name and won't let me compile using it.

[2020-05-17 10:19] leaanthony commented on #410
Can you please check the latest pre-release? `v1.6.0-pre2` should work but I don't have labs to test.

[2020-05-17 10:26] leaanthony commented on #413
Isn't this based on Ubuntu?

[2020-05-17 10:41] leaanthony commented on #413
Deepin support has been available for a while. Can you please try the latest pre-release to see if that works for you (v1.6.0-pre2).

[2020-05-17 10:42] leaanthony commented on #408
@masterdubs - in what way? I tried it yesterday and it was fine.

[2020-05-17 13:02] dedo1911 commented on #408
@leaanthony  just tried with 1.6.0-pre2 and the executable exists in build directory (there's no extension).
Launching that executable manually it looks like that's the correct "serve" executable.

[2020-05-17 13:20] leaanthony commented on #408
So it looks like `.exe` isn't being added to the target binary?

[2020-05-17 14:02] tmclane commented on #415
Can you provide access to a simplified application that demonstrates the issue?

[2020-05-17 14:05] tmclane commented on #412
@zhuqiyun I would recommend running the builds in verbose mode if you still can't find the binaries after @leaanthony 's example above.

[code]

[2020-05-17 14:38] masterdubs commented on #408
simply, as usual, building works, but in the end I don't get any bin (on mac for windows ). I will try the latest pre looks like 1.6 is out.

[2020-05-17 14:45] pedzed commented on #415
@tmclane I have added you to the repo.

[2020-05-17 15:21] zhuqiyun commented on #412
ok,i will try

[2020-05-17 15:42] dedo1911 commented on #397
1.6.0-pre2: icons are being used correctly from "appname.ico" and after build the file is being deleted.
I think only missing is ico generation then.

[2020-05-17 18:34] tmclane commented on #415
It sounds like the goroutine for that session that was alive before the machine went to sleep is not exiting in this case.

[2020-05-17 20:18] leaanthony commented on #397
Looking back over the history, icon generation *was* something we wanted to do but didn't get round to. As the title of this issue now doesn't reflect the real issue, I've renamed it and added the enhancement label.

[2020-05-18 00:41] dedo1911 commented on #397
Here's a simple and working png to ico converter example I found on the web if you want to have a look
https://github.com/Kodeworks/golang-image-ico

[2020-05-18 08:39] dedo1911 commented on #408
Yes. that's the issue I think.

I tried to:
- `wails serve` (it creates a file without extension)
- rename "build/myapp" to "build/myapp.exe"
- run `wails serve` again

and it creates "myapp" again but runs "myapp.exe" correctly.
I think adding .exe to the final binary should solve the issue.

[2020-05-18 08:48] leaanthony commented on #408
Perfect. This must be a regression with the recent build changes.

On Mon, 18 May 2020, 18:40 Dario Emerson, <notifications@github.com> wrote:

[2020-05-18 08:48] masterdubs commented on #408
Fixed in latest pre.

[2020-05-18 10:00] dedo1911 commented on #408
Are you on Windows too? 1.6.0-pre2 is still broken on Windows

[2020-05-19 10:50] leaanthony commented on #397
Hey @dedo1911 - I've opened #416 for this. Please feel free to check it out and have a play.

[2020-05-19 13:01] alienatorZ commented on #408
When I use Windows with version 1.5.0 using wails serve it creates an app in the build directory without .exe. I just rename the build file to add the .exe and re-run wails serve and it works.

[2020-05-19 18:31] ljjimenez commented on #321
Did you compile it on the 64-bit machine for 32-bit?

[2020-05-19 20:38] dedo1911 commented on #404
Tried and patch works fine on latest pre (1.6.0-pre2) Thanks!

[2020-05-20 04:16] d3v-dev opened #417 "websocket JSON.parse issue"
#####################################################
     If you have a technical issue, please do not open a bug this way!
                      Please use the `wails issue` command!
#####################################################

**Description**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scr

[2020-05-20 04:17] #417 closed

[2020-05-20 11:21] dedo1911 commented on #397
I've taken a step further and improved the icon generation to generate the usual multiple sizes .ico that Windows uses (256, 128, 64, 48, 32, 16):

Full example: https://play.golang.org/p/FkaPiB3Y7AT

If you like It I can PR it

[2020-05-20 18:02] grvlle commented on #410
Cross-compiling a Windows build works flawlessly on my distro now. I am however running into this issue with the darwin buid:

[code]

[2020-05-20 21:28] leaanthony commented on #397
That sounds great! I've actually split off this functionality into a library+tool and was thinking of importing it back into Wails but I'm ok leaving that to v2. The code looks very similar :-)

[2020-05-21 14:30] andrewrynhard opened #419 "Ivalid JSON data"
#####################################################
     If you have a technical issue, please do not open a bug this way!
                      Please use the `wails issue` command!
#####################################################

**Description**
I am trying to send a kubernetes struct to the frontend using events. I get an error from here: https://github.com/wailsapp/wails/blob/94c56115a

[2020-05-21 20:40] leaanthony commented on #419
Great call! I think it would be better to just prepend the error message of the original error and send that back. Thoughts?

[2020-05-21 20:42] leaanthony commented on #419
Something like:
[code]

[2020-05-21 20:59] leaanthony commented on #419
What makes this interesting to me is that this error is from an internal call from backend to frontend so I'd be really interested in how you triggered it.

[2020-05-21 21:05] #404 closed

[2020-05-21 21:06] leaanthony commented on #410
@grvlle - Could you please open that as a separate issue please. Closing this one as it's resolved.

[2020-05-21 21:06] #410 closed

[2020-05-21 21:08] leaanthony commented on #408
Merged PR - Please let me know if this fixes it.

[2020-05-21 21:26] leaanthony commented on #419
I've created branch https://github.com/wailsapp/wails/tree/419-better-json-error-reporting if you want to play with it

[2020-05-22 14:56] BearHeathen opened #421 "Support Distribution 'Pop!_OS'"
**Description**
Distribution 'pop' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.5.0 |
| Go Version    | go1.14.2 |
| Platform      | linux |
| Arch          | amd64 |
| GO111MODULE   | (Not Set) |
| Distribution ID   | pop |
| Distribution Name   | Pop!_OS |
| Distribution Version   | 20.04 |

Not sure why this isn't working, it shou

[2020-05-23 13:58] #338 closed

[2020-05-23 19:26] lobre opened #422 "Support Distribution 'NixOS'"
Hello, and thanks for this awesome toolkit. I am currently running NixOS and I can see it is not yet supported. I have just seen the documentation page on how to add a new distribution.

I'll try and submit a PR if I manage to get it working!

**Description**
Distribution 'nixos' is currently unsupported.

**Further Information**

| Name   | Value |
| ----- | ----- |
| Wails Version | v1.5.0 |
| G

[2020-05-23 21:49] leaanthony commented on #338
This has already been implemented in v2. Porting to Mac and windows soon.

[2020-05-23 21:50] leaanthony commented on #422
NixOS uses a custom package manager right?

[2020-05-23 22:57] lobre commented on #422
Yes it does. The whole distribution is built using the same model as its package manager.

I started implementing the changes in Wails to support it but it will be a little bit more complex that I thought.

Due to its design, libraries are not allowed to be installed as regular binary packages.

https://nixos.wiki/wiki/FAQ/I_installed_a_library_but_my_compiler_is_not_finding_it._Why%3F

For a buil

[2020-05-24 20:50] lobre commented on #78
I would love to see Svelte as an option to Wails as well! I know the thread is kinda old but would it make sense to reopen / open a new issue to track this?

And another general question on frameworks: would it be feasible to have a pure JS setup without any specific framework?

I don't know if it makes sense but having a really light and simple option for really basic apps could be useful if peop

[2020-05-25 03:00] Purple-CSGO opened #423 "a little worry about core of win-platform"
Hello, I'm hugly interested in this project and attracted by the `vue-wails-go` feature that allows me to do most of the frontend jobs using web-side languages, but I'm a little worried about how's the compatibility and performance on windows platform. Heard that it's using ie kernel and gonna turn to edge/chromium, but what about win7?
  If there's really such problems, will wails offer the abili

[2020-05-25 07:28] leaanthony commented on #423
Hi. Microsoft doesn't support Win 7 any more and neither will we moving forward. mshtml is a huge pain to support and by the time wails v2 is out, Edge Chromium will be the default renderer.

[2020-05-25 07:28] #423 closed

[2020-05-25 09:04] #397 closed

[2020-05-25 09:07] dedo1911 commented on #408
v1.6.0-pre3 is working properly now (Windows)

[2020-05-26 19:32] nilopaim opened #425 "Windows 10 64 bits problem with 1.6.0-pre3"
I have a Windows 10 64 bits box. Everything I have done with Wails till now works.

Go version go1.13.5 windows/386.
Gcc and libraries downloaded and installed from http://tdm-gcc.tdragon.net/download, as advised.

After a wails update --pre I'm getting errors, during a wails init and a wails build:

Wails v1.6.0-pre3 - Building Application

- Packing + Compiling project...# sgdevui
c:\go\pkg\tool

[2020-05-26 20:37] leaanthony commented on #425
Looks like it's a 32 bit / 64 bit incompatibility. Did you recently update your local TDM installation and installed 64bit? What happens if you do `wails build -x windows/386`?

[2020-05-26 21:47] nilopaim commented on #425
No updates on TDM installation. Previous version of wails worked without problems.

Result of wails build -x windows/386:

D:\sgdeveloper\sgdevui>wails build -x windows/386
Wails v1.6.0-pre3 - Building Application

Error: Unsupported platform 'windows/386' specified.
Please run `wails build -h` to see the supported platform/architecture options.

I'm using a 32bit Go installation because I need to

[2020-05-26 22:29] leaanthony commented on #421
Support has been added to the develop branch. I'll look at getting another pre-release out today.

[2020-05-26 23:18] leaanthony commented on #425
@tmclane - Any ideas? I don't think we've done anything around native builds in terms of bitness?

[2020-05-26 23:26] BearHeathen commented on #421
Much obliged! The popularity of this distro seems to be growing by leaps and bounds, as is the reputation of Wails. Ergo, this should be ultimately useful to a sizable subsection of Linux users.

[2020-05-26 23:29] tmclane commented on #425
The cross platform builder for 386 was not functioning when I tried it.
That is why it is not available.

 If wails is built on a 32bit windows install then it should work I presume.

[2020-05-26 23:30] tmclane commented on #425
The -x option means cross platform.
If you have a 32bit host I would build it natively there

[2020-05-27 00:03] tmclane commented on #425
I see why you built it that way. My mistake

[2020-05-27 00:25] leaanthony commented on #387
There doesn't appear to be an obvious way to check if a package is installed or not. Running `eopkg info` returns an exit code of 0 regardless. The only option is parsing stdout from this command. Can you think of a better way?

[2020-05-27 00:41] leaanthony commented on #387
I've added in support for Solus in the latest pre-release `wails update -pre`.
![image](https://user-images.githubusercontent.com/1943904/82963131-5f28a000-a005-11ea-8340-e999a4bb2f2f.png)

[2020-05-27 00:42] leaanthony commented on #421
Latest pre-release includes this now. Please update with `wails update -pre`.

[2020-05-27 00:45] leaanthony commented on #425
I think the issue here is that native builds appear to use the 64bit compiler, but I'm sure we didn't do anything with this?

[2020-05-27 00:47] leaanthony commented on #425
@nilopaim Go seems to be compiling with the 64bit version of TDD. Why do you have 64bit TDD when you need 32bit?

[2020-05-27 02:51] leaanthony commented on #413
It looks like Deepin have changed their ID to be "Deepin" from "deepin". I've pushed a fix which fixes this. Tested with Deepin 20 beta.
`wails update -pre` to get the fix.

[2020-05-27 07:18] prologic opened #428 "Question: Do I have to use NodeJS / NPM?"
ssia

[2020-05-27 07:26] leaanthony commented on #428
Technically no, it should work, but I haven't personally tested it. Update `project.json` with the commands you want to issue for install, build and bridge:
[code]
Let us know how you get on!

[2020-05-27 08:05] prologic commented on #428
Thanks! I'll give this a try with one of my [Self-hosted Apps](https://gist.github.com/prologic/c165403fb6ac07c16dc9fd6eeb8efbd2)

[2020-05-27 10:11] leaanthony commented on #428
Let us know if you need anything.

[2020-05-27 11:15] nilopaim commented on #425
I'm also working on softwares that are really 64 bits (and not related to wails).

The stranger thing (using exactly the same Go and TDM installations): 1.0.3 works; 1.6.0 doesn't.

I can use 1.0.3. This is not a problem for me.

[2020-05-27 12:47] leaanthony commented on #425
This is really curious. I'll see if I can replicate it at the weekend.

[2020-05-27 12:57] nilopaim commented on #425
@leaanthony Thanks a lot!

[2020-05-27 13:23] tmclane commented on #425
@leaanthony Could the `char*` -> `unsigned char*` change have caused this issue?

[2020-05-28 00:00] andrewrynhard commented on #419
Hmm. So I built our app with this and and the error seems empty. I am also having a tough time reproducing dependably. Give me a bit more time to dig.

[2020-05-28 02:33] boutheinaSymfony commented on #92
je résolu se problème de réinstallé npm cd "nmp install"

[2020-05-28 10:18] leaanthony commented on #425
Surely not.

[2020-05-29 05:47] zhuqiyun commented on #408
v1.6.0-pre5 ，can not  wails  serve too  ，windows10

[2020-05-29 08:12] dedo1911 commented on #408
@zhuqiyun can you please provide the console output of the wails serve command?

[2020-05-30 11:05] #396 closed

[2020-05-30 11:05] #388 closed

[2020-05-30 14:59] masterdubs opened #429 "Build error - Wails v1.6.0-pre5"
When building ( MacOS) I got the following errors with a ton of c compiling error. Any way to debug that?

    ^
In file included from ../../../../../pkg/mod/github.com/wailsapp/wails@v1.6.0-pre5/lib/renderer/webview/webview.go:26:
In file included from ./webview.h:80:
In file included from /Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/System/Library/Frameworks/Cocoa.framework/Headers/C

[2020-05-30 15:50] masterdubs commented on #429
looks like a go.mod trouble

[2020-05-30 20:33] leaanthony commented on #429
Native build or via docker?

[2020-05-30 22:54] masterdubs commented on #429
Native build

[2020-06-01 06:01] zhuqiyun opened #430 "windows 10 Wails v1.6.0-pre5 ，wails serve cmd not worked"
#####################################################
     If you have a technical issue, please do not open a bug this way!
                      Please use the `wails issue` command!
#####################################################

**Description**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scr

[2020-06-01 09:15] masterdubs commented on #429
Reset the go.mod to previous version fixed it.

[2020-06-01 10:55] leaanthony commented on #429
Thanks for the info. Reopening as this is definately a bug. Will take a look in the next couple of days

[2020-06-01 22:55] masterdubs commented on #429
if you just change back in go.mod to 	github.com/wailsapp/wails v1.5.0 it works, maybe doesn't find the latest version ? ( pre5 )

[2020-06-02 00:50] masterdubs opened #431 "Bug in Safari"
there is a bug in safari : Unhandled Promise Rejection: SecurityError: IDBFactory.open() called in an invalid security context  . We can avoid them if it's not built by disabling local files restrictions. Is there a solution for that so we can do the same inside the app ?

[2020-06-02 02:22] zhuqiyun commented on #430
WebSocket connection to 'ws://localhost:34115/bridge' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

[2020-06-02 11:28] dovepa commented on #263
https://askubuntu.com/questions/140246/how-do-i-resolve-unmet-dependencies-after-adding-a-ppa

[2020-06-03 23:17] leaanthony commented on #352
This was fixed by #424 - Can anyone confirm before closing?

[2020-06-04 13:06] tmclane commented on #430
Do you have a personal firewall running that might be blocking communications?

[2020-06-04 13:08] tmclane commented on #428
@prologic any luck?

[2020-06-04 13:13] tmclane commented on #415
I'm sorry I haven't had time to look at this lately.  I'm planning on investigating and adding a fix soon.  In the meantime I would recommend exiting the `wails serve` before sleeping.

[2020-06-04 13:14] tmclane commented on #415
Although your description itself talks about `Ctrl-C` the title is `waking from sleep`.

Are both an issue?

[2020-06-04 13:18] pedzed commented on #415
Of course, but I often forget it.

I thought my issue was clear enough. See the heading 'To Reproduce'. If you have a better title in mind, you're welcome to edit it or provide a suggestion.

[2020-06-04 14:08] prologic commented on #428
Sorry haven't had a chance yet (work/etc). I will try something tomorrow hopefully.

[2020-06-04 15:10] tmclane commented on #415
Just looking for all the information I could get is all.  Thanks for the clarification!

[2020-06-05 07:09] nurcahyo opened #432 "Question: How to set a main menu/menu bar?"
On my app I need to add logout and app prefrences menus is there any way to update these menus?

![image](https://user-images.githubusercontent.com/1406847/83847104-dcef5880-a735-11ea-9596-ac0546cb7293.png)

[2020-06-05 11:07] leaanthony commented on #432
We don't currently support menus. It's on the cards for v2 though

[2020-06-05 20:10] leaanthony commented on #430
Confirmed this issue. Sits on the "waiting for backend" spinner. Console log shows websocket connection error.

[2020-06-05 20:12] leaanthony commented on #431
Do you have more details on this error? It's the first time this has been brought up.

[2020-06-05 21:07] #432 closed

[2020-06-06 03:26] leaanthony commented on #430
Narrowed this down to commit [c66e9cba5a0bf609320972c298baf219142186d3](https://github.com/wailsapp/wails/commit/c66e9cba5a0bf609320972c298baf219142186d3). Looks like a combination of `runtime.GOOS` being used instead of `projectOptions.Platform` and compiling the application in prod mode instead of build more. Still investigating.

[2020-06-06 04:44] leaanthony commented on #430
Pushed a fix #433 - Please update to latest pre-release `wails update -pre`.

[2020-06-06 04:53] leaanthony commented on #425
@nilopaim Out of interest, what is sgdevui? Sounds interesting :-)

[2020-06-06 19:26] nilopaim commented on #425
@leaanthony  Systems Generator Developer UI

I'm developing a tool to automate application generation. Kind of an old software I made years ago to generate Cobol programs.

[2020-06-07 14:34] #394 closed

[2020-06-07 20:19] leaanthony commented on #425
Sounds cool.

This issue you're having is really hard for us to debug. Do you know how to
use `git bisect` to determine which commit this starts happening?

On Sun, 7 Jun 2020, 05:27 Nilo Roberto C Paim, <notifications@github.com>
wrote:

[2020-06-07 21:03] SGarno commented on #394
The bot closed this issue....Is this something you are still considering?

[2020-06-07 23:34] #398 closed

[2020-06-07 23:45] leaanthony commented on #394
Would love to support it but don't have time. Am happy to accept a PR if
you get it working though!

On Mon, 8 Jun 2020, 07:03 SGarno, <notifications@github.com> wrote:

[2020-06-08 02:34] #385 closed

[2020-06-08 04:34] #400 closed

[2020-06-08 10:09] nilopaim commented on #425
@leaanthony Never used `git bisect` before. And have no idea where to start, but I can try.

[2020-06-09 11:06] masterdubs commented on #431
I'm using OrbitDB in the frontend part, works ok in dev with chrome.

[2020-06-11 23:34] #403 closed

[2020-06-11 23:34] #401 closed

[2020-06-14 14:56] chess-equality opened #434 "[Question] How to pipe log to file?"
Hello there,

I am using logrus and lumberjack in my other projects to create a rotating log file; is this also possible  with `*wails.CustomLogger`? I have checked and `GlobalLogger` is a logrus object, however I don't know how to do it.

Thanks in advance.

[2020-06-15 03:27] zhuqiyun opened #435 "how to emit event from vue to golang backend？"
how to emit event  from vue  to golang backend？

[2020-06-15 06:46] fdidron opened #436 "Allow dialog file filtering by extension name"
**Description**

Currently, when opening a file selection dialog, there is no way to specify a file extension to filter the files that can be selected.

I have an [app running on Windows, OS X and Linux](https://ergodox-ez.com/pages/wally) that uses a fork of webview to do that.

That's the only thing that's preventing me to use Wails, so if that seems like a good idea, I'm happy to work on a PR.

[2020-06-15 10:05] leaanthony commented on #436
Hi @fdidron. That sounds awesome! Please go ahead. We work off the develop branch and then merge to ~~master~~ main for stable releases. Thanks!

[2020-06-15 10:08] leaanthony commented on #435
All the information you need is here: https://wails.app/reference/runtime/

[2020-06-15 10:08] #435 closed

[2020-06-15 10:11] leaanthony commented on #434
Hey there. We don't have direct support for it but if you want to add a logfile option and create a PR, I'll merge it. The closest you'll get right now is to redirect stdout to a file.

[2020-06-16 06:22] zhuqiyun opened #437 "how to close debug info when run cmd “wails serve”？"
how to  close  debug info  when run  cmd  “wails serve”？

[2020-06-17 11:05] zhuqiyun opened #440 "how to pass hex byte array to golang func from vue frontend？"
1、golang code

func SerialSendArray(data []byte, len int) (int, error) {
	mu.Lock()
	var n int
	var err error
	if serialState == true {
		n, err = Serialport.Write(data[:len])
	}
	mu.Unlock()
	return n, err
}

2、  bind to  frontend
app.Bind(serialportservice.SerialSendArray)

3、how to invoke  by  vue  ，then  send  byte array  data  for the first para？

[2020-06-17 20:52] leaanthony commented on #440
Depends. How is the hex string getting into the frontend? What format is it?

I'd probably just use a hexstring and decode it to a byteslice in Go before writing:
1. https://stackoverflow.com/a/34310051
2. hex.DecodeString

Let us know how you go.

[2020-06-17 20:52] leaanthony commented on #412
Any feedback?

[2020-06-18 02:46] zhuqiyun commented on #440
vue  js   format  like this： data = [0x98,0x89,0xab,0x34],not hex string,exactly byte array.

[2020-06-18 10:26] leaanthony commented on #436
NOTE TO SELF: Update the API docs.

[2020-06-18 22:57] leaanthony commented on #429
That's weird. Do you have any idea why this might be happening? Are you able to find via `git bisect`?

[2020-06-19 13:29] ljjimenez opened #443 "Inject compile time variable?"
Is there any way I can inject compile time variable to the ldflags?

I mean, I want to set ENVIRONMENT variables for CI/CD like DEV_MODE or PROD_MODE.

[2020-06-19 20:21] leaanthony commented on #443
The `-p" flag does this. Help us understand your use case a bit more.

[2020-06-20 12:08] ljjimenez commented on #443
I would like to compile different versions:

 for development normally I use -ldflags="-X main.baseURL=http://127.0.0.1/",
 for production -ldflags="-X main.baseURL=https://mysite.com/"

How can i inject those using wails build?

The -p option as the help says "Package application on successful build"

[2020-06-21 22:24] #399 closed

[2020-06-22 04:26] chess-equality commented on #434
Ok, but might not possible for me right now.

By `nohup` you mean, for example? Or can it be redirected via Go code?

[2020-06-22 09:55] leaanthony commented on #411
@svkior - I think I understand your issue now. This is tricky as it's confusing as to where your "project root" lies. Do you have an entire Wails project in `MainForderWithGoMod/projectlib/cmd/projectMain`?

The reason this is happening is because the cli tries to ensure you have the same version of Wails in your go.mod as the one installed (having these out of sync will cause issues). It looks in

[2020-06-22 09:56] leaanthony commented on #434
Explain a bit more about your logging requirements. It's really only there for tracing/debugging. Do you have a need for production logging?

[2020-06-22 09:57] leaanthony commented on #387
No response. Closing.

[2020-06-22 09:57] #387 closed

[2020-06-22 09:57] leaanthony commented on #428
@prologic any luck?

[2020-06-22 09:59] leaanthony commented on #443
Oh I see. We don't have a pass-through option but it's relatively easy. I'll take a look :+1:

[2020-06-22 10:17] leaanthony commented on #443
Just done a new pre-release with this fix. Update with `wails update -pre` to `v1.7.0-pre1`.
Using the vanilla template, I added the `baseURL` variable as per your example:
[code]
Building and running by default:
[code]
Building with new `ldflags` flag:
[code]

[2020-06-22 12:59] ljjimenez commented on #443
Awesome, this is perfect and working as expected, thanks very much, the
best project ever. 👍

On Mon, Jun 22, 2020 at 6:18 AM Lea Anthony <notifications@github.com>
wrote:

[2020-06-22 21:47] #443 closed

[2020-06-23 02:34] tmclane commented on #411
@leaanthony @svkior Does my example project not match up to how you would like to use the project?

I thought my solution was a reasonable workaround (one that I used in my own project even).

[2020-06-23 07:39] leaanthony commented on #411
I could be wrong, but I think he has his entire wails project under cmd, but the go.mod outside of that. Will leave this open another week.

[2020-06-23 12:43] tmclane commented on #437
what do you mean how do you `close` it?   Do you mean disable it?

[2020-06-24 01:40] fdidron commented on #436
I see that the docs were updated, closing this issue now

[2020-06-24 01:40] #436 closed

[2020-06-24 03:29] chess-equality commented on #434
Yes, production logging.

[2020-06-25 09:59] mcoo opened #446 "“wails” not defined"
**Description**

I can't use it when I build. But when I use "serve" to debug. It works!

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
**Screenshots**
If ap

[2020-06-25 10:01] mcoo commented on #446
win10 x64
Chrome  83.0.4103.116
Microsoft Edge 83.0.478.54

[2020-06-25 10:11] leaanthony commented on #446
Please use the `wails issue` command

[2020-06-25 10:33] mcoo commented on #446
`Unable to read in issue template. Are you online?` Emmm

[2020-06-25 13:03] tmclane commented on #446
Do you need to add the `go/bin` directory where `wails` is usually installed to your PATH configuration for Windows?
I can't read your dialogs but that would be my guess.

[2020-06-25 13:16] mcoo commented on #446
[code]

[2020-06-25 21:21] leaanthony commented on #446
I don't get this issue ^^^^

[2020-06-25 23:44] mcoo commented on #446
ok , I have finished it by VPN.

[2020-06-25 23:51] mcoo commented on #446
My project is open source `https://github.com/super-coffee/mcdownloader/tree/ui` and I use npm dependencies:
[code]
It may cause these problems.

[2020-06-27 00:55] leaanthony commented on #446
@mcoo - glad you fixed it. Can this be closed now?

[2020-06-27 02:27] mcoo commented on #446
Ok

[2020-06-27 02:38] mcoo commented on #446
#150

[2020-06-27 02:49] mcoo commented on #446
[code]
set history mode!

[2020-06-27 04:12] BearHeathen commented on #421
My apologies for forgetting to close like a mannerless buffoon. I'm chugging away with Wails on Pop with nary an issue! Many thanks!

[2020-06-27 07:07] leaanthony commented on #446
Thanks for this! We'll add it to the docs!

[2020-06-27 07:08] leaanthony commented on #421
No worries man! Glad it's working for you!

[2020-06-27 07:19] leaanthony commented on #446
Added https://wails.app/guides/vuerouter/
Thanks @mcoo !

[2020-06-27 07:19] #446 closed

[2020-06-27 07:39] leaanthony commented on #440
Convert your byte array to base64 or hexstring then decode it in Go.

[2020-06-27 07:39] #421 closed

[2020-06-29 06:06] ahmadfarisfs commented on #406
Raapberry pi

[2020-06-30 08:22] chess-equality opened #448 "GLIBC_2.28 not found when running built executable"
**Description**

Running the built executable on an Ubuntu 18.04 LTS, got the error `/lib/x86_64-linux-gnu/libc.so.6: version 'GLIBC_2.28' not found (required by xxxxxxx)`.

**To Reproduce**
Steps to reproduce the behaviour:
1. Just run the built executable on an Ubuntu 18.04 LTS desktop.

**Expected behaviour**
The app should run / launch.

**System Details**

| Name   | Value |
| ----- | ----- |

[2020-06-30 11:00] leaanthony commented on #448
I'm guessing Ubuntu 18.04 is too old for one of the dependencies. Maybe node? Does this help:
[code]

[2020-06-30 15:53] #422 closed

[2020-07-01 12:57] GreyXor opened #449 "./myApp serve ?"
Hello, is it possible to "serve" my application so that it can be used remotely on the network?
In a web browser on another computer

[2020-07-01 17:01] stevesobol opened #450 "Feature request: Empty skeleton"
Hi. New Wails user. Very impressed.

I also recently started using Rekit Studio, which I love. It's an opinionated React-powered webapp framework with a built-in IDE.

I can also see some times when I may just want to create a simple HTML/CSS/JSS app without a framework.

I propose an new `wails init` template: essentially, an empty project, with just a Go module and nothing in the `frontend` dire

[2020-07-01 20:01] leaanthony commented on #450
Hi @stevesobol - Thanks for the kind words. There's a vanilla template already there:
![image](https://user-images.githubusercontent.com/1943904/86286202-67d64c80-bc29-11ea-85d6-21b37de3f229.png)
You can delete what's in the frontend and customise as you please.

Let us know how you get on!

[2020-07-01 20:07] leaanthony commented on #449
Hi. We don't officially have a server build for v1 (the focus is desktop), but @tmclane has some experience of using the binary generated by "wails serve" for this purpose.

[2020-07-01 21:48] masterdubs opened #451 "Fail to init after 1.0.7"
I can't init or serve a new project on MacOS, go 1.14 wails 1.0.7
this error is repeating again and again:

`In file included from ./webview.h:80:
In file included from /Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/System/Library/Frameworks/Cocoa.framework/Headers/Cocoa.h:13:
In file included from /Library/Developer/CommandLineTools/SDKs/MacOSX10.15.sdk/System/Library/Frameworks/AppKit.

[2020-07-01 22:47] leaanthony commented on #451
@masterdubs - you're having fun on 10.15 there. Did you check the [webview repo](https://github.com/webview/webview) to see if others have this issue?

[2020-07-01 23:44] stevesobol commented on #450
Ugh. When creating my first project, I read option 3 as _**VanillaJS,**_ which, of course, isn't what's there. VanillaJS is [this.](http://vanilla-js.com/)

Oops. :)

Thank you.

[2020-07-02 00:26] tmclane commented on #449
I was working on a server capable build but as of yet I have not gotten anything to a point it is worth sharing actually.
I might put in some more time on it at some point soon.

[2020-07-02 09:07] leaanthony commented on #450
You know what? I should change it to "Plain HTML/JS/CSS"

[2020-07-02 09:09] leaanthony commented on #450
Also, you do know that that's a joke site advocating using plain js? 😉

[2020-07-02 10:14] #449 closed

[2020-07-02 12:03] Pierre-Felber opened #452 "Windows Packaging Broken"
With the changed windows icon generation, observed by me in 1.6.0 (I've updated from 1.0.2),  packaging in windows is broken:

Icon created is now **$APPNAME.exe.ico**
Icon referenced in RC template is still **$APPNAME.ico** [see](https://github.com/wailsapp/wails/blob/aa93e5d8d2e0ae44fae778433df2444c3cdb33a3/cmd/packages/windows/wails.rc#L1)
notice the new **exe** part

This leads to a failing wi

[2020-07-02 14:05] stevesobol commented on #450
HA! No, I thought it was an actual framework. I haven't had time to look at the site. But try checking any of the checkboxes on the homepage; no matter what you check, the download size remains

[code]

[2020-07-02 14:49] stevesobol commented on #450
So... [Sharing](https://www.facebook.com/stevesobol/posts/3023673484337165) this experience so other people don't embarrass themselves like I did.   O.o

[2020-07-02 19:46] leaanthony commented on #452
Hi. Thanks for raising this. Testing is pretty hard and a lot of it is done manually. We rely on feedback of the -pre branches for releases and this is the first time this has been raised. @dedo1911 would be the first person to be able to respond to this. I'll take a look today also.

[2020-07-02 19:55] dedo1911 commented on #452
The icon shouldn't be **$APPNAME.exe.ico** but just **$APPNAME.ico** instead.
I'll take a better look at it tomorrow.

[2020-07-02 20:02] dedo1911 commented on #452
@Pierre-Felber can you please check out your `project.json` file

I think you have:
` "binaryname": "appname.exe",`

That should be:
` "binaryname": "appname",`

[2020-07-02 20:24] leaanthony commented on #452
There's a potential fix on develop. About to test.

[2020-07-02 22:10] Pierre-Felber commented on #452
Yes, you are correct: project.json has `"binaryname": "appname.exe"`
Changing it to  `"binaryname": "appname"` resolves the issue.

Then it's a migration issue, isn't it? I did just did `wails update`, not `wails migrate`

[2020-07-03 02:49] leaanthony commented on #450
So now you've learnt 2 things! 😃
Let us know if you need any help. Good luck!

[2020-07-03 02:53] leaanthony commented on #452
It's on us. There was a change a while back to normalise the project name to sans .exe for new projects. The only thing that has been affected is the icon generation that uses the project name regardless of exe. I've made that fix for the develop branch and I'm just testing.

But you're right, we should absolutely add this to wails migrate, though that was really for projects <v1.

Will keep.you p

[2020-07-03 03:40] #413 closed

[2020-07-03 03:58] leaanthony commented on #452
@Pierre-Felber - I've tested the fix on Windows 10 and made it part of `v1.7.0-pre1`. Please update using `wails update -pre` and let us know if it works. If it does, I'll release it as v1.7.1 so it's part of the stable channel.

BTW: This testing also uncovered an issue with the vanilla template so thanks for raising it! 2 bugs fixed!

[2020-07-03 06:39] Pierre-Felber commented on #452
TX, can confirm it works with `"binaryname": "appname.exe"` in **v1.7.0-pre2**

![image](https://user-images.githubusercontent.com/19165025/86438786-83178980-bd07-11ea-8a06-5b86025a8d3c.png)

Very fast fix, thanks!!!

[2020-07-03 16:28] stevesobol commented on #450
I'm getting a Javascript error when I build a sample app and try to run it (using the vanilla template). Things run error-free using `wails serve` / `npm run serve` - I'm going to have to do a debug build and see what's happening.

[2020-07-03 22:10] leaanthony commented on #450
Urgh, that's something I didn't actually try :facepalm: - I'll have a look today.

[2020-07-03 22:28] leaanthony commented on #452
@Pierre-Felber - this is now in v1.7.1. Feel free to get back on the stable release channel using `wails update`.

[2020-07-03 22:28] #452 closed

[2020-07-03 22:44] leaanthony commented on #450
I just re-read your message. I absolutely did test that.

On Sat, 4 Jul 2020, 02:29 Steve Sobol, <notifications@github.com> wrote:

[2020-07-03 23:14] stevesobol commented on #450
Hm. Well, I was running 1.6.0 and tried running `wails update` and discovered that I was using a rather old version. Updated to 1.7.1 and I'm going to try creating a new vanilla project.

[2020-07-03 23:19] stevesobol commented on #450
Ahhah. Only started with Wails within the last week, not sure how I ended up with 1.6.0. But updating to 1.7.1 worked. I tried creating a new project and using `wails build -d` and it's running fine. Next step is to try a Rekit project! 😁

[2020-07-04 02:38] #419 closed

[2020-07-04 02:58] leaanthony commented on #450
Nice one!

[2020-07-04 02:58] #450 closed

[2020-07-04 15:04] stevesobol commented on #450
So, with [Rekit-React](http://rekit.js.org/), my app's entry point is `build\static\main.48cc335b.chunk.js` (the four-digit hex number in the middle changes, IIRC). `wails build` is expecting to find it in `build\main.js`. It would appear that I need a custom webpack config. Rekit-React normally doesn't create a `webpack.json` when you start a new project. This will be interesting...

[2020-07-04 15:05] stevesobol commented on #450
I'm going to play around with my project. I should put my results up on a blog somewhere. Regardless, the problem I had is fixed :)

[2020-07-04 15:36] Jasonfran opened #454 "Use new version WebView which uses Edge on newer Windows 10"
Is there any plan to upgrade Wails to use the new version of WebView?

Looking at https://github.com/wailsapp/wails/wiki/Post-V1-Enhancements you're planning to move to DeskGap but it seems like WebView is not really dead and upgrading Wails to use the new version should be quite trivial.

I hope you do reconsider for for now.

Thanks

[2020-07-04 18:37] Jasonfran opened #455 "[Feature] Struct and nillable parameters in function bindings"
Hello,

I have POCed the change here https://github.com/Jasonfran/wails/tree/support_for_struct_and_nilable_parameters_in_function_bindings and want some feedback.

To me this seems like the most logical way to handle function bindings. It means we don't have to depend on more libraries just to decode a map of values. You can pass in complex structs and have the parameter effortlessly unmarshalled

[2020-07-04 22:10] leaanthony commented on #454
Hi. We've tried multiple times to upgrade to the latest webview but there is always a major blocking issue. The main one has always been flakey Mac support which I opened a ticket for here: https://github.com/webview/webview/issues/236 - it was closed biu not resolved. The current open issue count on the webview project is close to 200 and a quick look over them shows some pretty major issues. The

[2020-07-04 22:10] #454 closed

[2020-07-04 22:13] leaanthony commented on #450
Configure the project as you need. Wails doesn't impose anything on you. The install and build commands are all it uses and they are configurable in `project.json`.

[2020-07-04 22:17] leaanthony commented on #455
Hi @Jasonfran - thanks for this! Will check it out today. We are always up for more improvements! There probably was a design decision at the time but that would have been over 2 years ago now. I'll get some feedback to you but yes, I'm surprised we aren't already doing this.
Thanks! 👍

[2020-07-04 23:20] leaanthony commented on #455
@Jasonfran I just created a test project to test structs and nilables using the latest branch:

[code]

and if I print the result in JS, the output is:
[code]

This works for both structs and pointers to structs.

What are you proposing we do differently?

Cheers.

[2020-07-04 23:22] leaanthony commented on #455
Ah, I think I may have misunderstood. You're talking about input values not return values. Do you have an example where this is an issue and we can work to that? Thanks!

[2020-07-04 23:39] Jasonfran commented on #455
Yes input parameters. I don't have an example at hand but just give your `basic` function a `Person` parameter and then build an object in JavaScript that matches that and try to pass it as a parameter.

The first thing I did when trying out Wails was having a data model in JavaScript/Typescript and seeing how Wails maps that to a Go model as the only examples for Wails used primitive types as par

[2020-07-05 03:49] leaanthony commented on #455
Yes for sure. I guess the stance we've always taken is that your state should live in Go and your frontend should be simply a view of that data. I can see where getting state back is beneficial and so this approach seems good to me. I've long thought about a means for doing this via a synced state store, but I think that may be non-trivial and end up being a bit of a hack.

The hard part about thi

[2020-07-05 13:45] Jasonfran commented on #455
Yeah I agree with that. But I'm also not a fan of having functions with lots of parameters. For example, if I want to search some data I could create a function like this:

[code]

There's nothing really wrong with that but I prefer small parameter lists and passing in structs which hold the information where beneficial. Since the function signature stays the same and you can expand it in a backwa

[2020-07-05 13:49] #408 closed

[2020-07-05 19:22] leaanthony commented on #455
This is something I think should be default in V2. Changing the API is ok so long as you can provide warning and an auto-migrate path. Perhaps we should think more about what the current Bind method should be renamed to...BindInterface?

I'm good to do the migration part. I think this is a good step forward and opens the door to something else I want to do.

[2020-07-06 16:48] cameronbraid commented on #455
Would supporting GRPC as an alternative RPC system work ?

Could use https://github.com/grpc/grpc-web for the frontend and https://github.com/improbable-eng/grpc-web/tree/master/go/grpcwebproxy for backend.

Then users could spec all their RPC structs in proto files and generate the go and ts sources.

Could probably support something like

**frontend**
[code]

**backend**
[code]

Or could even ap

[2020-07-07 06:32] ilgityildirim commented on #454
@leaanthony is there anyway we can take a look at v2? Is there a roadmap or list of new features or any approximate release date for v2?

Looks like there are some much needed new features are going to be available in v2.

[2020-07-07 08:53] leaanthony commented on #454
@ilgityildirim No access as of yet but am writing up a blog post about it. Let me know if there's any specific questions you have.

[2020-07-07 09:07] ilgityildirim commented on #454
@leaanthony at the top of my head menu bar, context menu, modern CSS / JS support via modern native webview (MS Edge for example), app icons for linux, system tray, notifications comes to my mind.

Of course things like system tray, notifications can be done via 3rd party too. Although might be good to have an option from Wails as well.

[2020-07-07 19:40] Splode commented on #295
I ran into this issue when referencing the [Vue Router guide](https://wails.app/guides/vuerouter/). Nevertheless, I did successfully set up Vue Router and Vuex.

@leaanthony Is there still a desire for updated documentation?

[2020-07-07 21:00] leaanthony commented on #454
- Menu Bar - Yes
- Context Menu - Maybe
- Modern CSS - Edge/Chromium only
- App Icons for Linux - what do you mean by that?
- System Tray - No. Blame Gnome.
- Notifications - Maybe

[2020-07-07 21:01] leaanthony commented on #295
If you have time, that would be perfect. Let me know if you need a hand with that. :+1:

[2020-07-08 08:31] waini1110 opened #456 "Can not use <video >"
Hi,

 I found that I couldn't play web video when I used the video tag.

wails : 1.6.0
os : windows 10
gcc : gcc version 8.1.0 (x86_64-posix-seh-rev0, Built by MinGW-W64 project)
vue : vue 2.0

[2020-07-08 17:28] ilgityildirim commented on #456
@waini1110 I have to confirm this but it is likely due to engine behind Windows which is based on IE 11 and you can't use `<video>` tags there; https://www.caniuse.com/#search=video. However this is just a guess, I'd have to check it out myself to confirm.

[2020-07-08 17:35] ilgityildirim commented on #456
@waini1110 I have to confirm this but it is likely due to engine behind Windows which is based on IE 11 and it seems it is not supported out of the box. I have to say I haven't tried it with Wails something like this yet.

You can try to add codec to your source such as;
`<source src="video.mp4" type='video/mp4; codecs="H.264/MPEG-4" '>`

As it seems IE11 requires H.264/MPEG-4 codec to make the vi

[2020-07-08 22:07] Mike97M opened #458 "Linux - Uncaught TypeError: window.wails is undefined"
**Description**

I get the error `Uncaught TypeError: window.wails is undefined` when I try to view the frontend app from firefox by using npm run serve. I've tried from another browser and I got a similar error.

**To Reproduce**
Steps to reproduce the behaviour:
1. `wails init`
2. select Vuetify2/Vuetify1.5
3. Try to server only the frontend using `npm run serve`

**Expected behaviour**
To see t

[2020-07-08 22:46] leaanthony commented on #458
I can check tonight, but perhaps @tmclane might be available before then. Unusual as this is core functionality used every day.

[2020-07-09 08:03] waini1110 commented on #456
Thanks for your reply.  I found must be add  codecs="H.264/MPEG-4".
if not added we can saw the image, but can not play.

[2020-07-10 19:14] Mike97M commented on #458
Hi @leaanthony,

Did you had the time to reportduce the issue yet?

[2020-07-10 19:24] #458 closed

[2020-07-10 20:51] Jasonfran commented on #454
For the windowing/webview system what are your plans?

DeskGap seems impressive since it replicates a lot of Electron API features which I am personally fond of. I've looked into possibly trying to write a C wrapper for the DeskGap windowing/webview code but it's not too straight forward because of the reliance on Node NAPI and I'm a C noob.

If there's one thing in particular I want to see it's f

[2020-07-10 21:06] leaanthony commented on #458
Glad it was sorted!

[2020-07-10 21:29] leaanthony commented on #454
So frameless windows is already done for linux. I'll be writing a blog post soon which will be a better place for this, but for now I'll post what I wrote on the slack channel:
Wails V2 has the following features:

Assets are compiled to C, not embedded in Go. This makes start up time insanely fast.

Because we now have our own windowing library, the js runtime and bootstrap code is evaluated firs

[2020-07-10 21:36] Jasonfran commented on #454
Wow that sounds incredible. Amazing work 👏 , I am really looking forward to seeing that! This will be huge for Go GUI apps.

[2020-07-10 23:57] #352 closed

[2020-07-11 14:24] leaanthony commented on #454
I posted a video on the slack channel. It may interest you.

[2020-07-11 15:58] #415 closed

[2020-07-13 03:11] fenglingxian opened #459 "chinese title Garbled code"
当标题设置为中文时， 显示为乱码。 请问应该怎么解决。
When the title is set to Chinese, the display is garbled. What should be done.

[2020-07-13 08:33] #430 closed

[2020-07-13 09:54] leaanthony commented on #459
Hi. Please open this issue with `wails issue`.

[2020-07-13 09:54] #459 closed

[2020-07-14 11:30] ilgityildirim commented on #456
@leaanthony I guess this is safe to close.

[2020-07-14 13:07] leaanthony commented on #456
👍

[2020-07-14 13:07] #456 closed

[2020-07-15 11:57] #425 closed

[2020-07-16 01:07] DanielKrolopp opened #460 "Cross compilation using xgo does not copy local (unpublished) packages"
**Description**

I've been trying to cross compile for windows from my Linux machine and ran into an issue. I have a go module in a different directory than the one in which my wails project is located---I import this module in a go.mod file in my wails project directory using the replace keyword. When I try to compile, I get the following message:
[code]

I suspect that the output is from the Doc

[2020-07-16 07:33] leaanthony commented on #460
The project directory is mounted for the build so if it's not in there then yes, it won't get picked up. What do you think would be a good solution to this?

[2020-07-16 16:37] #431 closed

[2020-07-17 07:15] #382 closed

[2020-07-17 16:10] tmclane commented on #460
This is a tricky one.  If you make the go module accessible over the internet go itself will copy it into the build container.
If it is private it is a bit harder.

One thought i had would be to:
- optionally mount the GOPATH directory into the build container at `/go`.

[2020-07-17 21:57] leaanthony commented on #460
That's not a bad idea @tmclane! We could then add it to $GOPATH. Trying to think how this works with modules.

[2020-07-17 22:27] tmclane commented on #460
Well as long as you place the module in the GOPATH it will work fine.

Perhaps we could allow additional mount mappings to help place them appropriately inside the container.

[2020-07-17 22:31] leaanthony commented on #460
I guess the problem is that `go.mod` can reference any arbitrary location on disk. What about doing `go mod vendor` first to pull it into the project directory? I know wails itself has an issue with that so potentially remove that directory before compiling

[2020-07-17 22:33] tmclane commented on #460
That might work. I haven't used that feature before.

[2020-07-18 00:18] leaanthony commented on #460
It should work fine, just need to vendor, remove wails then start docker. Wails specifically doesn't work in vendor because of the funky stuff we do with module paths.

[2020-07-18 01:00] DanielKrolopp commented on #460
It looks like the two of you have some pretty good ideas on how to accomplish this already, but I'll add my two cent's worth. As @leaanthony mentioned, since vendoring doesn't work, for now I'm just writing a script to copy the needed modules to the build directory before compiling and using a different path with the replace directive.

[2020-07-18 01:28] leaanthony commented on #395
Re-opening this.

[2020-07-18 01:30] leaanthony commented on #460
We can get around the fact that wails won't vendor correctly, but your issue *is* something we need to solve so I think we'll try that approach and see where we get.

[2020-07-18 01:31] DanielKrolopp commented on #460
Yeah, I agree. Thanks for your prompt response!

[2020-07-21 18:15] mamapi opened #461 "How to trigger application shutdown from frontend side?"
I'd like to add a button to close the application on the frontend side

[2020-07-21 19:13] mamapi commented on #461
I got it. In order to close the application, we just need to bind a function as below
`func (a *App) ExitApp() {
	os.Exit(0)
}`

[2020-07-21 19:13] #461 closed

[2020-07-21 21:03] nielsGal opened #462 "app.css deleted during wails build on windows 10, wails vue app"
**Description**

frontend/dist/app.css is deleted by wails CLI on both init and on build, this is file is required for building an app. Currently I can manage to build only if I quickly put a copy of app.css back in the dist folder during the wails build process.

**To Reproduce**
Steps to reproduce the behaviour:
wails build

**Expected behaviour**
a normal build without deleting the app.css

**S